<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
   
   <!-- Web Scripts Abstract Handler Mappings -->
   <bean id="webscriptHandlerMappings" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" abstract="true">
      <property name="order" value="0" />
      <property name="urlPathHelper" ref="urlPathHelper" />
      <property name="pathMatcher" ref="pathMatcher" />
      <property name="mappings">
         <value>
            /proxy/**=endpointController
            /resource/**=resourceController
         </value>
      </property>
   </bean>
   
   <!-- Custom UrlPathHelper to ensure URLs are not cropped at semi-colon character by Spring -->
   <bean id="urlPathHelper" class="org.springframework.extensions.webscripts.UrlPathHelper">
      <property name="defaultEncoding" value="UTF-8" />
   </bean>
   
   <!-- Custom PathMatcher to ensure path tokens are not trimed by Spring -->
   <bean id="pathMatcher" class="org.springframework.extensions.webscripts.PathMatcher" />
   
   <!-- Web Scripts Handler Mappings -->
   <bean id="handlerMappings" parent="webscriptHandlerMappings">
      <property name="order" value="0" />
   </bean>
   
   <!-- Web Scripts Framework Controllers -->
   <bean id="endpointController" class="org.springframework.extensions.webscripts.servlet.mvc.EndPointProxyController">
      <property name="cacheSeconds" value="-1" />
      <property name="useExpiresHeader"><value>true</value></property>
      <property name="useCacheControlHeader"><value>true</value></property>
      <property name="configService" ref="web.config" />
      <property name="connectorService" ref="connector.service" />
      <property name="supportedMethods"><null/></property>
   </bean>
   <bean id="resourceController" class="org.springframework.extensions.webscripts.servlet.mvc.ResourceController">
      <property name="cacheSeconds" value="-1" />
      <property name="useExpiresHeader"><value>true</value></property>
      <property name="useCacheControlHeader"><value>true</value></property>
   </bean>
   
   <!-- Web Script View Resolver -->
   <bean id="webscriptViewResolver" class="org.springframework.extensions.webscripts.servlet.mvc.WebScriptViewResolver">
      <property name="container" ref="webscripts.container" />
   </bean>

</beans>