.search
{
	margin: 0 -10px;
}

.search .align-right
{
   text-align: right;
}

.search .search-sites
{
   margin-bottom: -0.75em;
   padding: 1.25em 0 0 1.25em;
}

.search .search-sites a.bold
{
   font-weight: bold;
}

.search .search-box
{
   margin: 1.25em;
   height: 2.1em;
}

.search .search-box div
{
   float: left;
}

.search .search-box input
{
   padding: 0.3em;
}

.search .search-box .terms
{
   width: 42em;
}

.search .search-icon span.first-child
{
   background: url(../images/search-16.png) no-repeat 12px 4px;
   padding-left: 24px;
}

.search .search-bar
{
   padding: 4px 0.5em 2px;
   border-bottom: 1px solid #F0F3F4;
	border-top: 1px solid #F0F3F4;
}

.search .search-bar-bottom
{
	border-top: none;
}

.search .search-bar .paginator
{
   float: left;
   margin: 0 0 0 32px;
   padding: 4px 0;
   text-align: center;
}

.search .search-bar .paginator-bottom
{
   margin: 0 0 0 200px;
}

.search .search-info
{
   float: left;
   padding: 0.5em 0 0.6em 1em;
}

.search .action-overlay
{
   position: absolute;
   margin-top: 80px;
   margin-left: 64px;
}

.search .thumbnail-cell
{
   text-align: center,
}

.search .thumbnail-cell > div
{
   visibility: hidden;
}

.search .thumbnail-cell:hover > div
{
   visibility: visible;
}

.search .itemname
{
   padding-top: 0.1em;
}

.search .itemname a
{
   font-size: 116%;
}

.search h3.itemname span.title
{
   color: #606060;
   font-size: 82%;
   padding-left: 0.7em;
}

.search .results
{
   margin-right: 1px;
}

.search .results .meta
{
   color: #333;
}

.search .results div.details
{
   padding-bottom: 0.1em;
   padding-top: 0.1em;
}

.search .results div.details span.tags
{
   background-image: url(images/tag-16.png);
   background-position: 0px 2px;
   background-repeat: no-repeat;
}

.search .yui-dt .yui-dt-message
{
   display: none;
}

.search .yui-dt table
{
	width: 100%;
	border: none;
}

.search .yui-dt table thead
{
	display: none;
}

.search tr.yui-dt-odd, tr.yui-dt-even
{
   background-color: #ffffff !important;
}

.search .yui-dt td
{
   border-bottom: 1px dashed #D7D7D7;
}

.search .search-bar span.yui-button
{
   background: none;
   border-width: 0px;
}

.search .search-bar span.yui-button span.first-child
{
   background-repeat: no-repeat;
   border-width: 0px;
}


/* Advanced Search specific styles */

.search .form-type-name
{
   font-size: 116%;
   padding: 0.15em;
}

.search .form-type-description
{
   font-size: 93%;
   padding: 0.2em;
}

.search .form-row
{
   margin: 1.5em 0 1.5em 1.5em;
   width: 830px;
}

.search .form-row span.lookfor
{
   float: left;
   padding-top: 0.4em;
}

.search .forms-container
{
   margin-left: 1.5em;
}

.search .keywords-box
{
   background-color: #F5FFF2;
   margin-left: 1.5em;
   border: 1px solid #C2C2C2;
   padding: 1em;
   width: 800px;
}

.search .keywords-box .terms
{
   width: 60em;
}

/* Forms list button and menu styles */

.search .yuimenu .bd
{
   zoom: normal;
   border: 1px solid #84B4D5;
   background-color: #FFFFFF;
   padding: 0;
}

.search .yuimenu .bd ul
{
   padding: 0px;
   cursor: pointer;
}

.search .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel
{
   cursor: pointer;
}

.search .selected-form-button span.yui-button
{
   background: none;
   border-width: 0px;
}

.search .selected-form-button span.yui-button span.first-child
{
   background-repeat: no-repeat;
   border-width: 0px;
}

/* hide mandatory indicators - make no sense for a search */
.search .form-container .mandatory-indicator
{
   display: none;
}

/* collapse form-buttons div as it is not used */
.search .form-container .form-buttons
{
   margin: 0;
   padding: 0;
}