/* Header- and Navigation-Bar Buttons */

.toolbar .import button
{
   background: transparent url(images/import-16.png) no-repeat 12px 4px;
   padding-left: 32px; 
}
.toolbar .import .yui-button-disabled button
{
   background-image: url(images/import-disabled-16.png);
}

.toolbar .export-all button
{
   background: transparent url(images/export-16.png) no-repeat 12px 4px;
   padding-left: 32px; 
}
.toolbar .export-all .yui-button-disabled button
{
   background-image: url(images/export-disabled-16.png);
}

.toolbar .report button
{
   background: transparent url(images/file-report-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.toolbar .selected-items
{
   float: left;
}

/* Multi-Select Actions */

.toolbar .onActionAccession
{
   background-image: url(images/accession-16.png);
}

.toolbar .onActionAccessionComplete
{
   background-image: url(images/accession-complete-16.png);
}

.toolbar .onActionCutoff
{
   background-image: url(images/cutoff-record-16.png);
}

.toolbar .onActionDestroy
{
   background-image: url(images/destroy-record-16.png);
}

.toolbar .onActionExport
{
   background-image: url(images/export-16.png);
}

.toolbar .onActionFileTo
{
   background-image: url(images/file-to-16.png);
}

.toolbar .onActionFreeze
{
   background-image: url(images/freeze-record-16.png);
}

.toolbar .onActionSplitEmail
{
   background-image: url(images/split-email-attachments-16.png);
}

.toolbar .onActionTransfer
{
   background-image: url(images/transfer-16.png);
}

.toolbar .onActionTransferComplete
{
   background-image: url(images/transfer-complete-16.png);
}

.toolbar .onActionUndoCutoff
{
   background-image: url(images/undo-cutoff-16.png);
}

.toolbar .onActionUnfreeze
{
   background-image: url(images/unfreeze-record-16.png);
}


/* Messages (e.g. Delete confirmation) */
.toolbar-file-list span.record-series,
.toolbar-file-list span.record-category,
.toolbar-file-list span.record-folder
{
   background-image: url(images/folder-open-16.png);
}

.toolbar-file-list span.record,
.toolbar-file-list span.undeclared-record
{
   background-image: url(images/generic-16.png);
}

.form-container .form-fields
{
   border-bottom: medium none;
   padding: 1em;
}