@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../../js/alfresco/css/opensans.woff) format('woff');
}

.login
{
   width: 30em;
   padding: 1.5em 2em;
}

.login form
{
   padding-top: 1em;
}