@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../../js/alfresco/css/opensans.woff) format('woff');
}

.login
{
   padding: 1.5em 2em !important;
   width: 42em;
}

.login form
{
   padding-top: 1em;
}