<tr class="alfresco-search-AlfSearchResult" data-dojo-attach-point="containerNode">
   <td class="thumbnailCell"><div data-dojo-attach-point="thumbnailNode"/></td>
   <td class="propertiesCell">
      <div class="nameAndTitleCell"><span data-dojo-attach-point="nameNode" /><span data-dojo-attach-point="titleNode" /></div>
      <div class="dateCell"><span data-dojo-attach-point="dateNode" /></div>
      <div class="descriptionCell" data-dojo-attach-point="descriptionRow"><span data-dojo-attach-point="descriptionNode" /></div>
      <div class="siteCell" data-dojo-attach-point="siteRow"><span data-dojo-attach-point="siteNode" /></div>
      <div class="pathCell" data-dojo-attach-point="pathRow"><span data-dojo-attach-point="pathNode" /></div>
      <div class="sizeCell" data-dojo-attach-point="sizeRow"><span data-dojo-attach-point="sizeNode" /></div>
   </td>
   <td class="actionsCell"><div data-dojo-attach-point="actionsNode"/></td>
</tr>