<tr class="alfresco-search-AlfSearchResult" data-dojo-attach-point="containerNode">
   <td class="thumbnailCell"><div data-dojo-attach-point="thumbnailNode"></div></td>
   <td class="propertiesCell">
      <table cellspacing="0" cellpadding="0">
         <tr>
            <td class="nameAndTitleCell">
               <span data-dojo-attach-point="nameNode"></span>
               <span data-dojo-attach-point="titleNode"></span>
            </td>
         </tr>
         <tr><td class="dateCell"><span data-dojo-attach-point="dateNode"></span></td></tr>
         <!-- <tr class="spacing-row"><td></td></tr> -->
         <tr data-dojo-attach-point="descriptionRow">
            <td class="descriptionCell"><span data-dojo-attach-point="descriptionNode"></span><td>
         </tr>
         <tr data-dojo-attach-point="siteRow">
            <td class="siteCell"><span data-dojo-attach-point="siteNode"></span></td>
         </tr>
         <tr data-dojo-attach-point="pathRow">
            <td class="pathCell"><span data-dojo-attach-point="pathNode"></span></td>
         </tr>
         <tr data-dojo-attach-point="sizeRow">
            <td class="sizeCell"><span data-dojo-attach-point="sizeNode"></span></td>
         </tr>
      </table>
   </td>
   <td class="actionsCell"><div data-dojo-attach-point="actionsNode"></div></td>
</tr>