<tr class="alfresco-search-AlfSearchResult" data-dojo-attach-point="containerNode">
   <td class="thumbnailCell"><div data-dojo-attach-point="thumbnailNode"></div></td>
   <td class="propertiesCell">
      <table>
         <tr>
            <td class="nameAndTitleCell">
               <span data-dojo-attach-point="nameNode"></span>
               <span data-dojo-attach-point="titleNode"></span>
            </td>
         </tr>
         <tr><td class="dateCell"><span data-dojo-attach-point="dateNode"></span></td></tr>
         <tr><td class="descriptionCell"><span data-dojo-attach-point="descriptionNode"></span><td></tr>
         <tr><td class="siteCell"><span data-dojo-attach-point="siteNode"></span></td></tr>
      </table>
   </td>
</tr>