.password
{
   display: none;
}

.password .header-bar
{
   height: 1.1em;
   padding: 0.3em;
   margin: 1.5em 1em 0em 0.5em;
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
   font-weight: bold;
   font-size: 116%;
}

.password .title
{
   font-size: 116%;
   padding: 1.5em 0em 0.333em 1em;
}

.password .row
{
   padding: 0.333em;
}

.password .label
{
   display: block;
   float: left;
   padding-right: 0.8em;
   padding-top: 0.2em;
   width: 16em;
   text-align: right;
   font-weight: bold;
}

.password .buttons
{
   padding-bottom: 1em;
   padding-top: 0.5em;
   text-align: center;
}