<div id="${id}">
   <div id="${id}-dialog" class="dnd-upload hidden">
      <div class="hd">
         <span id="${id}-title-span"></span>
      </div>
      <div class="bd">
         <div id="${id}-file-selection-controls" class="browse-wrapper">
            <div class="center dnd-file-selection-control">
               <input id="${id}-file-selection-button-overlay" type="button" value="${msg("button.selectFiles")}" tabindex="0"/>
            </div>
         </div>
      
         <div id="${id}-filelist-table" class="fileUpload-filelist-table"></div>
   
         <div class="status-wrapper">
            <span id="${id}-status-span" class="status"></span>
         </div>
         <div id="${id}-aggregate-data-wrapper">
           <div class="status-wrapper">
              <span id="${id}-aggregate-status-span" class="status"></span>
           </div>
           <div id="${id}-aggregate-progress-div" class="aggregate-progress-div">
              <span id="${id}-aggregate-progress-span" class="aggregate-progressSuccess-span">&nbsp;</span>
           </div>
         </div>
   
         <div id="${id}-versionSection-div">
            <div class="yui-g">
               <h2>${msg("section.version")}</h2>
            </div>
            <div class="yui-gd">
               <div class="yui-u first">
                  <span>${msg("label.version")}</span>
               </div>
               <div class="yui-u">
                  <input id="${id}-minorVersion-radioButton" type="radio" name="majorVersion" checked="checked" tabindex="0"/>
                  <label for="${id}-minorVersion-radioButton" id="${id}-minorVersion">${msg("label.minorVersion")}</label>
               </div>
            </div>
            <div class="yui-gd">
               <div class="yui-u first">&nbsp;
               </div>
               <div class="yui-u">
                  <input id="${id}-majorVersion-radioButton" type="radio" name="majorVersion" tabindex="0"/>
                  <label for="${id}-majorVersion-radioButton" id="${id}-majorVersion">${msg("label.majorVersion")}</label>
               </div>
            </div>
            <div class="yui-gd">
               <div class="yui-u first">
                  <label for="${id}-description-textarea">${msg("label.comments")}</label>
               </div>
               <div class="yui-u">
                  <textarea id="${id}-description-textarea" name="description" cols="80" rows="4" tabindex="0"></textarea>
               </div>
            </div>
         </div>
   
         <!-- Templates for a file row -->
         <div style="display:none">
            <div id="${id}-left-div" class="fileupload-left-div">
               <span class="fileupload-percentage-span">0%</span>
               <input class="fileupload-contentType-input" type="hidden" value="cm:content"/>
            </div>
            <div id="${id}-center-div" class="fileupload-center-div">
               <span class="fileupload-progressSuccess-span">&nbsp;</span>
               <img src="${url.context}res/components/images/generic-file-32.png" class="fileupload-docImage-img" alt="file" />
               <span class="fileupload-progressInfo-span"></span>
               <span class="fileupload-filesize-span"></span>
            </div>
            <div id="${id}-right-div" class="fileupload-right-div">
               <img src="${url.context}res/components/images/delete-16.png" class="fileupload-status-img" alt="status" />
               <img src="${url.context}res/components/images/complete-16.png" class="fileupload-status-img hidden" alt="status" />
            </div>
         </div>
            <div class="bdft">
               <input id="${id}-upload-button" type="button" value="${msg("button.upload")}" tabindex="0"/>
               <input id="${id}-cancelOk-button" type="button" value="${msg("button.cancel")}" tabindex="0"/>
            </div>
      </div>
   </div>
</div>