.document-actions
{
   background-color: #fafafa;
	padding: 1.5em 1em 1.5em 1.5em;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	margin-right: -10px;
}

.document-actions .heading
{
   color: #333333;
   font-size: 131%;
   padding-bottom: 1.0em;
}

.document-actions .doclist
{
   visibility: visible;
}

.document-actions .doclist .action-set a,
.document-actions .doclist .action-set a:visited
{
   border: 1px solid #fafafa;
}

.document-actions .doclist .action-set a:active,
.document-actions .doclist .action-set a:hover
{
   background-color: #fafafa;
   text-decoration: none;
}

.document-actions .doclist .action-set div
{
   padding: 0.3em;
}