<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Alfresco Share 4.3 Tests" verbose="6" preserve-order="true" parallel="classes"  thread-count="1">
    <groups>
        <run>
            <include name="unit" />
            <include name="alfresco-one" />
            <include name="Enterprise4.2" />
            <include name="Enterprise-only" />
            <exclude name=".*Bug42" />
            <exclude name=".*Bug" />
            <exclude name="chromeOnly" />
            <exclude name="Hybrid" />
            <exclude name="download" />
        </run>
    </groups>
    <test name="EditOfflineTest1">
        <classes>
            <class name="org.alfresco.po.share.site.document.EditOfflineTest" />
        </classes>
    </test>
    <test name="EditOfflineTest2">
        <classes>
            <class name="org.alfresco.po.share.site.document.EditOfflineTest" />
        </classes>
    </test>
    <test name="EditOfflineTest3">
        <classes>
            <class name="org.alfresco.po.share.site.document.EditOfflineTest" />
        </classes>
    </test>
    <test name="NewWorkflowPageTest1">
        <classes>
            <class name="org.alfresco.po.share.workflow.NewWorkflowPageTest" />
        </classes>
    </test>
        <test name="NewWorkflowPageTest2">
        <classes>
            <class name="org.alfresco.po.share.workflow.NewWorkflowPageTest" />
        </classes>
    </test>
    <test name="NewWorkflowPageTest3">
        <classes>
            <class name="org.alfresco.po.share.workflow.NewWorkflowPageTest" />
        </classes>
    </test>
    <test name="MyTasksTest1">
        <classes>
            <class name="org.alfresco.po.share.workflow.MyTasksTest" />
        </classes>
    </test>
    <test name="MyTasksTest2">
        <classes>
            <class name="org.alfresco.po.share.workflow.MyTasksTest" />
        </classes>
    </test>
    <test name="MyTasksTest3">
        <classes>
            <class name="org.alfresco.po.share.workflow.MyTasksTest" />
        </classes>
    </test>
</suite>