.alf-header-js-wrapper-outer {
   border: medium none !important;
   height: 16px !important;
}

.alf-header-js-wrapper-inner {
   border: none !important;
   height: 16px !important;
   margin-top: -4px !important;
   top: -38px !important;
}

.alf-header-js-wrapper-button {
   color: #A6A6A6 !important;
   font-size: small !important;
   font-weight: bold !important;
}

/* This removes the border added by the YUI clases and gets the vertical alignment correct */
.dijitReset.dijitInline.dijitMenuItem.dijitMenuItemLabel.yui-button.yui-menu-button {
  border: medium none;
  margin-top: -9px;
}

/* This gets the inner button vertically aligned correctly with the other items */
.dijitMenuBar .yui-button.alf-header-js-wrapper-outer {
    padding-top: 6px;
    background-color: #1A1A1A;
}

/* This matches the hover selection with the rest of the menu bar - see header.css for default colours */
.dijitReset.dijitInline.dijitMenuItem.dijitMenuItemLabel.yui-button.yui-menu-button.yui-menu-button-hover {
  background-color: #717171;
  color: #fff;
}

/* This ensures that the wrapped menu item is aligned correctly with the regular buttons */
.alfresco-share .dijitReset.dijitInline.dijitMenuItem.dijitMenuItemLabel.yui-button.yui-menu-button {
  margin-top: -10px;
}

/* This aligns the text in the button with the rest of the buttons */
.alfresco-share .alf-header-js-wrapper-inner .alf-header-js-wrapper-button {
  background-color: #1A1A1A;
}

.dijitReset.dijitInline.dijitMenuItem.dijitMenuItemLabel.yui-button.yui-menu-button.dijitMenuItemSelected.yui-button-focus.yui-menu-button-focus {
  background-color: #1A1A1A;
}
.dijitReset.dijitInline.dijitMenuItem.dijitMenuItemLabel.yui-button.yui-menu-button.dijitMenuItemSelected {
  background-color: #1A1A1A;
}

.alfresco-wrapped-HeaderJsWrapper.dijitReset.dijitInline.dijitMenuItem.dijitMenuItemLabel.yui-button.yui-menu-button {
  background-color: #1A1A1A;
}

.alfresco-wrapped-HeaderJsWrapper.dijitReset.dijitInline.dijitMenuItem.dijitMenuItemLabel.yui-button.yui-menu-button.dijitMenuItemSelected {
  background-color: #1A1A1A;
}

.alfresco-share .alf-header-js-wrapper-inner .alf-header-js-wrapper-button {
  background-color: #1A1A1A;
  color: #CCCCCC !important;
  font-weight: 400 !important;
}