.folder-links
{
   background-color: #fafafa;
   padding: 1.5em 1em 2em 2em;
   border-left: 1px solid #ccc;
   border-top: 1px dashed #ccc;
   margin-right: -10px;
}

.folder-links .heading
{
   color: #333333;
   font-size: 131%;
}

.folder-links .url-title
{
   color: #333333;
   font-size: 100%;
   padding-top: 1.5em;
   padding-bottom: 0.4em;
}

.folder-links .link-value
{
   width: 178px;
   margin-bottom: 1em;
   padding: 0.4em;
}

.folder-links .copy-button
{
   display: none;
}