.folder-info
{
	padding: 0em 1em 0em 0em;
}

.folder-info .heading
{
   color: #333333;
   font-size: 131%;
   padding: 1em 0em;
}

.folder-info .info
{
   margin-top: 0.7em;
}

.folder-info .info-section
{
   border-bottom: 1px dashed #c2c2c2;
   padding: 0px 0.5em 1.5em 0.5em;
}

.folder-info .tag
{
   padding-bottom: 0.6em;
}

.folder-info .tag img
{
   vertical-align: -0.3em;
   padding-right: 0.5em;
}

.folder-info .meta-label
{
   font-size: 100%;
   color: #606060;
   padding-right: 0.3em;
}

.folder-info .meta-value
{
   font-size: 100%;
   color: #333333;
}
