/* Swipe control CSS file */

.swipeButton
{
    border-style: solid;
    border-thickness: 2;
    border-color: #e1e1e1;
    border-skin: ClassReference("org.alfresco.ace.control.gradient.SimpleGradientBorder");
    fill-colors: #d7d7d7, #b0b0b0; 
}

.swipeLabel
{
	color: #727272;
}

.swipeCanvas
{
	border-style: solid;
	border-thickness: 0;
	border-color: #FFFFFF;
}
