.alfresco-pickers-Picker {
  height: 210px;
}

.alfresco-pickers-Picker > div {
  float: left;
}

.alfresco-pickers-Picker > .sub-pickers > div,
.alfresco-pickers-Picker > .picked-items > div {
  float: left;
  border: 1px solid #CCC;
  margin: 0 2px;
  padding: 2px 10px 2px 2px;
  height: 200px;
  overflow-y: auto;
}

/* Remove styling from DocumentList widgets */
.alfresco-pickers-Picker > .sub-pickers .alfresco-documentlibrary-AlfDocumentList {
  border: 1px solid #CCCCCC;
  margin: 0 2px;
}

.alfresco-pickers-Picker .alfresco-documentlibrary-views-layouts-AlfDocumentListView {
  padding: 0;
}

.alfresco-pickers-Picker .alfresco-menus-AlfMenuBar .dijitMenuBar {
  padding: 0;
}