.alfresco-renderers-Comments {
  margin-left: 20px;
}

.alfresco-renderers-Comments a.link
{
   background-image: url(./images/comment-16.png);
   background-repeat: no-repeat;
   font-size: 93%;
   padding: 1px 0 1px 20px;
   cursor: pointer;
   color: #333;
}

.alfresco-renderers-Comments span.count
{
   background-color: #eee;
   font-size: 93%;
   margin-left: 0.5em;
   padding:1px 2px 0;
}