<div class="alf-livesearch" data-dojo-attach-point="containerNode">
   <div class="alf-livesearch-title">Documents</div>
   <div class="alf-livesearch-clear"><a href="#" data-dojo-attach-event="onclick:onSearchClearClick" title="Clear"><div>&nbsp;</div></a></div>
   <div class="alf-livesearch-list" data-dojo-attach-point="containerNodeDocs"></div>
   <div class="alf-livesearch-more" data-dojo-attach-point="nodeDocsMore"><a href="#" data-dojo-attach-event="onclick:onSearchDocsMoreClick" title="More results..."><span>&nbsp;</span></a></div>
   <div class="alf-livesearch-title">Sites</div>
   <div class="alf-livesearch-list" data-dojo-attach-point="containerNodeSites"></div>
   <div class="alf-livesearch-title">People</div>
   <div class="alf-livesearch-list" data-dojo-attach-point="containerNodePeople"></div>
</div>