<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <bean id="versionsServiceHandler" class="org.alfresco.module.vti.handler.alfresco.soap.AlfrescoVersionsServiceHandler">
        <property name="nodeService" ref="NodeService" />
        <property name="fileFolderService" ref="FileFolderService" />
        <property name="versionService" ref="VersionService" />

        <property name="pathHelper" ref="vtiPathHelper" />
    </bean>
      
    <bean id="dwsServiceHandler" class="org.alfresco.module.vti.handler.alfresco.soap.AlfrescoDwsServiceHandler">
    	<property name="fileFolderService" ref="FileFolderService"/>
    	<property name="nodeService" ref="NodeService"/>    	
    	<property name="permissionService" ref="PermissionService"/>
    	<property name="transactionService" ref="TransactionService"/>
    	<property name="authenticationService" ref="AuthenticationService"/>
    	<property name="personService" ref="PersonService"/>
    	<property name="authorityService" ref="AuthorityService" />
    	
    	<property name="pathHelper" ref="vtiPathHelper"/>
    	<property name="pagesMap">
    		<map>
    			<entry key="siteInBrowser">
    				<value>/alfresco/n/browse/workspace/SpacesStore/...</value>
    			</entry>
    			<entry key="siteSettings">
    				<value>/alfresco</value>
    			</entry>
    			<entry key="siteGroupMembership">
    				<value>/alfresco</value>
    			</entry>
    			<entry key="userInformation">
    				<value>/alfresco</value>
    			</entry>
    			<entry key="documentLibrary">
    				<value>/alfresco</value>
    			</entry>  
    			<entry key="documentDetails">
    				<value>/alfresco</value>
    			</entry>
    		</map>
    	</property>
    </bean>
    
    <bean id="userGroupServiceHandler" class="org.alfresco.module.vti.handler.alfresco.soap.AlfrescoUserGroupServiceHandler">
    	<property name="permissionService" ref="PermissionService"/>
    	<property name="authorityService" ref="AuthorityService"/>
    	<property name="personService" ref="PersonService"/>
    	<property name="nodeService" ref="NodeService"/>    	
    	
    	<property name="pathHelper" ref="vtiPathHelper"/>    	
    </bean>

    <bean id="vtiHandlerTarget" class="org.alfresco.module.vti.handler.alfresco.AlfrescoVtiMethodHandler">
        <property name="nodeService" ref="NodeService" />
        <property name="fileFolderService" ref="FileFolderService" />
        <property name="permissionService" ref="PermissionService" />
        <property name="checkOutCheckInService" ref="CheckoutCheckinService" />
        <property name="authenticationService" ref="AuthenticationService" />
        <property name="versionService" ref="VersionService" />
        <property name="lockService" ref="LockService" />
        <property name="contentService" ref="ContentService" />
        <property name="transactionService" ref="TransactionService" />

        <property name="documentHelper" ref="vtiDocumentHelper" />
        <property name="pathHelper" ref="vtiPathHelper" />
    </bean>

    <bean id="vtiDocumentHelper" class="org.alfresco.module.vti.handler.alfresco.VtiDocumentHepler">
        <property name="nodeService" ref="NodeService" />
        <property name="lockService" ref="LockService" />
        <property name="checkOutCheckInService" ref="CheckoutCheckinService" />
    </bean>

    <bean id="vtiPathHelper" class="org.alfresco.module.vti.handler.alfresco.VtiPathHelper">
        <property name="rootPath">
            <value>/app:company_home</value>
        </property>

        <property name="storePath">
            <value>workspace://SpacesStore</value>
        </property>

        <property name="authenticationComponent" ref="AuthenticationComponent" />

        <property name="searchService" ref="SearchService" />
        <property name="namespaceService" ref="NamespaceService" />
        <property name="nodeService" ref="NodeService" />
        <property name="fileFolderService" ref="FileFolderService" />
        <property name="permissionService" ref="PermissionService" />
        <property name="personService" ref="PersonService" />
    </bean>

    <bean id="handlerExceptionAdvice" class="org.alfresco.module.vti.handler.alfresco.AlfrescoVtiMethodHandlerThrowsAdvice" />

    <bean id="handlerExceptionPointcutAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
        <property name="mappedName">
            <value>*</value>
        </property>
        <property name="advice">
            <ref bean="handlerExceptionAdvice" />
        </property>
    </bean>

    <bean id="vtiHandler" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>org.alfresco.module.vti.handler.VtiMethodHandler</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>handlerExceptionPointcutAdvisor</value>
            </list>
        </property>
        <property name="target" ref="vtiHandlerTarget" />
    </bean>

    <bean id="vtiAuthService" class="org.alfresco.module.vti.auth.AlfrescoVtiAuthService">
        <property name="authenticationService" ref="AuthenticationService" />
    </bean>

</beans>
