<span class="alfresco_renderers_InlineEditProperty ${renderedValueClass}" data-dojo-attach-event="onmouseover:showEditIcon,onmouseout:hideEditIcon">
   <span class="editIcon" data-dojo-attach-point="editIconNode" data-dojo-attach-event="ondijitclick:onEditClick">&nbsp;</span>
   <span data-dojo-attach-point="renderedValueNode" data-dojo-attach-event="onkeypress:onKeyPress" class="${renderedValueClass}" tabindex="0">${anchorOpen}${renderedValuePrefix}${renderedValue}${renderedValueSuffix}${anchorClose}</span>
   <span data-dojo-attach-point="editNode" class="hidden">
      <input data-dojo-attach-point="editInputNode" data-dojo-attach-event="onkeypress: onValueEntryKeyPress" type="text" value="${renderedValue}"></input>
      <span class="action" data-dojo-attach-event="ondijitclick:onSave">Save</span>
      <span class="action" data-dojo-attach-event="ondijitclick:onCancel">Cancel</span>
   </span>
</span>