<span class="alfresco_renderers_InlineEditProperty ${renderedValueClass}" data-dojo-attach-event="onmouseover:showEditIcon,onmouseout:hideEditIcon">
   <span data-dojo-attach-point="renderedValueNode" data-dojo-attach-event="onkeypress:onKeyPress,ondijitclick:onLinkClick" class="${renderedValueClass}" tabindex="0">${renderedValuePrefix}${renderedValue}${renderedValueSuffix}</span>
   <span data-dojo-attach-point="editNode" class="hidden" data-dojo-attach-event="onkeypress:onValueEntryKeyPress">
      <span data-dojo-attach-point="editWidgetNode"></span>
      <span class="action" data-dojo-attach-event="ondijitclick:onSave" tabindex="0">Save</span>
      <span class="action" data-dojo-attach-event="ondijitclick:onCancel" tabindex="0">Cancel</span>
   </span>
   <span class="editIcon" data-dojo-attach-point="editIconNode" data-dojo-attach-event="ondijitclick:onEditClick">&nbsp;</span>
</span>