.alfresco-creation-DragWidgetPalette .palette {
   margin: 5px;
   padding: 5px;
}

.alfresco-creation-DragWidgetPalette.dragTemplate {
   border: 1px solid #D3D3D3;
   margin: 5px;
   padding: 5px;
   width: 150px;
}

.alfresco-creation-DragWidgetPalette.dragTemplate span {
   vertical-align: middle;
   display: inline-block;
}

.alfresco-creation-DragWidgetPalette.dragTemplate .icon {
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-creation-DragWidgetPalette.dragTemplate .icon.textbox {
   background-image: url("./images/textbox_icon.png");
}

.alfresco-creation-DragWidgetPalette.dragTemplate .icon.textarea {
   background-image: url("./images/textarea_icon.png");
}

.alfresco-creation-DragWidgetPalette.dragTemplate .icon.checkbox {
   background-image: url("./images/checkbox_icon.png");
}

.alfresco-creation-DragWidgetPalette.dragTemplate .icon.dropdown {
   background-image: url("./images/dropdown_icon.png");
}

.alfresco-creation-DragWidgetPalette.dragTemplate .title {
   width: 90px;
}