.alfresco-creation-DropZone .previewPanel {
   border: 3px dashed #EEE;
   border-radius: 5px;
   min-height: 50px;
   margin: 5px;
   padding: 5px;
}

.alfresco-creation-DropZone .previewPanel.containsItems {
   border: none;
}