body
{
   text-align: left;
}

input
{
   border: 1px solid #C5D6E2;
   padding: 2px;
   font-weight: normal;
}

.alfresco-share .sticky-wrapper
{
   background-color: #fff;
}

.yui-panel-container.shadow .underlay
{
   display: none;
}

.yui-skin-sam .yui-panel
{
   border-style: none;
}

.login-panel
{
   width: 498px;
   height: 285px;
   background: transparent url("./images/loginbg.png") no-repeat;
   padding-left: 28px;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #515354;
   visibility: hidden;
}

.login-button
{
   background-color: #f0f0f0;
}

.login-copyright
{
   font-family: Arial,Helvetica,sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #959a9b;
}

.login-logo
{
   position: absolute;
   top: 16px;
   height: 64px;
   width: 450px;
   background: transparent url("./images/logo.png") no-repeat;
}