th.alfresco-documentlibrary-views-layouts-HeaderCell {
   background-color: #f2f2f2;
   border-top: 1px solid #e3e3e3;
   border-bottom: 1px solid #e3e3e3;
   border-right: 1px solid #e3e3e3;
   padding: 10px;
   vertical-align: middle;
}

th.alfresco-documentlibrary-views-layouts-HeaderCell.last {
   border-right: none;
}

.alfresco-documentlibrary-views-layouts-HeaderCell img {
   width: 16px;
   height: 16px;
   float: right;
}

.alfresco-documentlibrary-views-layouts-HeaderCell img.hidden {
   display: none;
} 

.alfresco-documentlibrary-views-layouts-HeaderCell img.ascendingSort {
   background-image: url(./images/sort-ascending-16.png);
}

.alfresco-documentlibrary-views-layouts-HeaderCell img.descendingSort {
   background-image: url(./images/sort-descending-16.png);
}