.form-container .exif label
{
   display: inline;
   float: left;
   text-align: right;
   width: 11em;
   margin-right: 1em;
   margin-top: 0.4em;
}

.form-container .exif .date-format
{
   margin-left: 17.2em;
}

.form-container .exif .help-text
{
   margin-left: 11.7em;
}