body
{
   font-family: Verdana,Helvetica,Arial,sans-serif;
   font-size: 85%;
   color: #515d6b;
   text-align: left;
}

a, a:visited
{
   color: #038603;
   text-decoration: none;
}

a:hover
{
   color: #038603;
   text-decoration: underline;
}

p
{
   margin-bottom: 16px;
}

ul
{
   margin: 1.5em;
}

li
{
   list-style-type: circle;
   margin-bottom: 4px;
}

.fdk
{
   width: 800px;
   margin: 16px auto auto;
}

.header
{
   padding: 10px;
   border-bottom: 1px solid #eee;
}

.header span
{
   font-size: 182%;
   font-weight: normal;
   vertical-align: 16px;
   margin-left: 6px;
}

.body
{
   margin-top: 10px;
   padding: 14px;
}

.item input
{
   width: 450px;
   padding: 3px;
}

.tests
{
   margin: 26px 126px 0px 0px;
}

.test-container
{
   border: 1px solid #eee;
   margin-bottom: 20px;
   -moz-border-radius-bottomright: 10px;
   -moz-border-radius-bottomleft: 10px;
   -webkit-border-bottom-right-radius: 10px;
   -webkit-border-bottom-left-radius: 10px;
}

.test-category
{
   background-color: #eee;
   border-bottom: 1px solid #ddd;
   padding: 6px;
}

.test-list
{
   padding-left: 6px;
}

.test-list ul
{
   margin: 1em 1.5em;
}

.test-list li a
{
   cursor: pointer;
}



