body
{
   text-align: left;
}

.form-console
{
   padding: 10px; 
   margin: 10px; 
   background-color: #edf5ff;
   border: 1px dotted #c0c0c0;
}

.form-console h2
{
   font-family: Helvetica,Arial,sans-serif;
   font-size: 146.5%;
}

.form-console fieldset
{
   border: 1px solid black; 
   margin-top: 10px; 
   padding: 8px;
}

.form-console legend
{
   color: black;
}

.form-console input
{
   margin: 5px 5px 5px 0px;
}

.form-console .inline-label
{
   margin-right: 5px;
   margin-left: 5px;
   font-weight: bold;
}

.form-console .button
{
   margin-top: 15px;
}

.form-instance
{
   margin: 1.4em; 
}

.unit-test-field
{
   background-color: black;
   color: white;
}

.unit-test-checkbox
{
   float: right;
   margin-right: 90%;
}


