.form-container label
{
   display: inline !important;
   float: left;
   text-align: right;
   width: 8em;
   margin-right: 1em;
   margin-top: 0.4em;
}

.form-container .date-format
{
   margin-left: 13.2em !important;
}

.form-container .help-text
{
   margin-left: 11.7em;
}

.object-finder .show-picker
{
   display: inline !important;
}