.audit
{
   padding: 1em;
}

.audit h2
{
   font-size: 120%;
}

.audit-log .yui-u
{
   width: 100%;
   margin: 0;
   float: none;
}

.audit-log
{
   margin-top: 1em;
   position: relative;
}

.audit-log .yui-dt table
{
   width: 100%;
}

.audit-log .yui-dt caption
{
   text-align: left;
   font: 100% normal Arial,sans-serif;
}

.audit-log .first
{
   text-align: right;
}

.audit-info p
{
   margin-top: 0.5em;
   padding: 0;
}

.auditDT table
{
   width: 100%;
}

.audit-peoplefinder
{
   display: none;
   position: absolute;
   right: 0;
   top: 5em;
   width: 30em;
   z-index: 100;
}

.audit-peoplefinder.active
{
   display: block;
}

.audit-peoplefinder .people-finder,
.audit-peoplefinder .finder-wrapper
{
   margin-top: 0;
}

.audit-peoplefinder input
{
   width: auto;
}

.personFilter
{
   display: inline;
}

.personFilterRemove
{
   vertical-align: middle;
   margin: 0 5px;
   display: none;
}

.personFilter.active .personFilterRemove
{
   display: inline;
}

.personFilterRemove img
{
   vertical-align: middle;
}

.audit .yui-gb .yui-u
{
   text-align: left;
}

.audit .yuimenubaritemlabel, 
.audit .yuimenuitemlabel
{
   color: #000 !important;
}

.filters
{
   background-color: #DDD;
   height: 10em;
   margin-top: 1em;
   z-index: 1;
   position: relative;
}

.filters .yui-u.first
{
   margin-right: 0;
}

.filters select,
.filters input
{
   width: 77%;
}

.filters .hd,
.filters .bd
{
   margin: 0.5em;
}

.filter label
{
   display: block;
   font-weight: bold;
}

.filter
{
   position: relative;
   height: 10em;
}

.auditDT
{
   position: relative;
   left: 0;
   width: 100%;
}

/* audit log popup page */

.audit-popup-log .audit-info
{
   margin: 1em 0;
   clear: both;
}

#audit-popup-log h1
{
   margin: 0.5em 0;
   float: left;
}

#audit-popup-log .label
{
   margin-right: 5px;
   font-weight: bold;
}

#audit-popup-log .value
{
   margin-right: 40px;
}

#audit-popup-log .audit-info
{
   background-color: #efefef;
   padding: 10px;
   margin-bottom: 4px;
}

#audit-popup-log .audit-entry
{
   border: 1px solid #bbb;
   margin-top: 15px;
}

#audit-popup-log .audit-entry-header
{
   background-color: #bbb;
   padding: 8px;
}

#audit-popup-log .audit-entry-node
{
   padding: 10px;
}

#audit-popup-log .changed-values-table
{
   margin-left: 6px;
   margin-bottom: 2px;
   width: 99%;
}

#audit-popup-log .changed-values-table th
{
   text-align: left;
   background-color: #eee;
   padding: 4px;
}

#audit-popup-log .changed-values-table td
{
   width: 33%;
   padding: 4px;
   border-top: 1px solid #eee;
}

.audit-popup-log .auditActions
{
   float: right;
   margin-top: 1em;
}

.datepicker
{
   display: none;
   position: absolute;
   z-index: 1000;
   left: 0;
}

.datepicker-icon
{
   vertical-align: top;
   cursor: pointer;
   margin-bottom: 1em;
}

.filters .yuimenu .hd,
.filters .yuimenu .bd
{
   margin: 0;
}

.audit-details-button
{
   float: right;
}

/* dialog */

#auditEntry
{
   width: 40em;
}

#auditEntry div.details
{
}

#auditEntry .bd
{
   max-height: 25em;
   overflow-y: auto;
}

#auditEntry .bd table
{
   margin: 0.5em 1em;
   width: 93%;
}

#auditEntry .bd table th
{
   width: 6em;
   font-weight: bold;
}

#auditEntry tr.odd
{
   background-color: #EDF5FF;
}

#auditEntry table#auditEntry-changedValues td
{
   height: 1em;
}