.references
{
   color:#000000;
   margin:16px 10px 10px;
}

.references .hidden
{
   display: none;
}

.references .buttons,
.references .title
{
   margin-top: 0.5em;
   line-height: 2em;
}

.references .title
{
   color:#515D6B;
   font-size:123.1%;
   font-weight:bold;
   padding-bottom:0.5em;
}

.references .buttons
{
   text-align: right;
}

.references .references-list
{
   border: 1px solid #D7D7D7;
}

.references .yui-dt table
{
   border: medium none;
   width: 100%;
}

.references .yui-dt table thead
{
   display: none;
}

.references tr.yui-dt-odd 
{
   background-color:#FFFFFF;
}

.references .yui-dt table .yui-dt-col-actions
{
   width: 17em;
   text-align: right;
}

.references .yui-dt table td
{
   border: medium none;
   border-bottom: 1px dashed #D7D7D7;
}

.references .yui-dt table .yui-dt-last td
{
   border-bottom: medium none;
}

.references .reference-type-label
{
   color: #515D6B;
   padding-right:0.5em;   
}

.references .edit-main
{
   border: 1px solid #D7D7D7;
   margin-bottom: 1.5em;
   padding-bottom: 1em;
}

.references .header-bar
{
   background-color: #E3EAEC;
   border-bottom: 2px solid #F0F3F4;
   font-size: 116%;
   font-weight: bold;
   height: 1.1em;
   margin: 1em;
   padding: 0.3em;   
}

.references .field-row
{
   padding: 0.333em;
   margin-left:1em;
}

.references .crud-label
{
   line-height: 1.5em;
   margin-left: 4em;
}

.references .crud-input
{
   margin-left: 4em;
}
