<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alfresco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Alfresco.Properties.Settings>
            <setting name="Alfresco_AuthenticationWebService_AuthenticationService"
                serializeAs="String">
                <value>http://localhost:8080/alfresco/api/AuthenticationService</value>
            </setting>
            <setting name="Alfresco_ContentWebService_ContentService" serializeAs="String">
                <value>http://localhost:8080/alfresco/api/ContentService</value>
            </setting>
            <setting name="Alfresco_RepositoryWebService_RepositoryService"
                serializeAs="String">
                <value>http://localhost:8080/alfresco/api/RepositoryService</value>
            </setting>
            <setting name="Alfresco_DictionaryServiceWebService_DictionaryService"
                serializeAs="String">
                <value>http://localhost:8080/alfresco/api/DictionaryService</value>
            </setting>
            <setting name="Alfresco_AuthoringWebService_AuthoringService"
                serializeAs="String">
                <value>http://localhost:8080/alfresco/api/AuthoringService</value>
            </setting>
            <setting name="Alfresco_ClassificationWebService_ClassificationService"
                serializeAs="String">
                <value>http://localhost:8080/alfresco/api/ClassificationService</value>
            </setting>
            <setting name="Alfresco_ActionWebService_ActionService" serializeAs="String">
                <value>http://localhost:8080/alfresco/api/ActionService</value>
            </setting>
            <setting name="Alfresco_AccessControlWebService_AccessControlService"
                serializeAs="String">
                <value>http://localhost:8080/alfresco/api/AccessControlService</value>
            </setting>
            <setting name="Alfresco_AdministrationWebService_AdministrationService"
                serializeAs="String">
                <value>http://localhost:8080/alfresco/api/AdministrationService</value>
            </setting>
        </Alfresco.Properties.Settings>
    </applicationSettings>
</configuration>