/* CSS file for logout form */

.logout
{
   border-style:solid;
   border-thickness:1;
   border-color:#FFFFFF;
   
   border-skin: ClassReference("org.alfresco.ace.control.gradient.SimpleGradientBorder");
   fill-colors: #e1e1e1, #D9DDE0;
}

.logoutLink
{
	color: #0E9EE5;
}

.logoutLinkRollOver
{
	color: #0E9EE5;
	text-decoration: underline;
}
