body {
   margin: 0;
   color: #5d5d5d;
}

.clear-both {
   clear: both;
}

.horizontal-widgets {
}

.horizontal-widget {
   float: left;
}

.left-widgets {
   float: left;
}

.right-widgets {
   float: right;
}