.navigation-menu {
   margin-top: 30px;
}

.title-menu {
   margin-top: 30px;
}

/* This controls pop-up menu images */
.dijitReset.dijitInline.dijitMenuItemLabel.alf-menu-configure.dijitMenuItem > span {
   background: url("/share/res/proto/js/alfresco/css/images/MenuConfigure.PNG");
}
.dijitReset.dijitInline.dijitMenuItemLabel.alf-menu-profile.dijitMenuItem > span {
   background: url("/share/res/proto/js/alfresco/css/images/MenuProfile.PNG");
}