.navigation-menu {
   font-size: 12px;
   margin-top: 38px;
}

.title-menu {
   margin-top: 35px;
}

/* This controls pop-up menu images */
.dijitReset.dijitInline.dijitMenuItemLabel.alf-menu-configure.dijitMenuItem > span {
  background: url("/share/res/proto/js/alfresco/css/images/MenuConfigure.PNG");
}
.dijitReset.dijitInline.dijitMenuItemLabel.alf-menu-profile.dijitMenuItem > span {
  background: url("/share/res/proto/js/alfresco/css/images/MenuProfile.PNG");
}