<div class="alfresco-kickstart-Step ${iconClass}">
   <div class="title-bar" data-dojo-attach-point="titleNode">
      <span class="collapse-control" data-dojo-attach-point="collapseControlNode" data-dojo-attach-event="onclick:onCollapseControlClick"></span>
      <span class="icon ${iconClass}"></span>
      <span class="title" data-dojo-attach-point="titleNode">${stepTitle}</span>
      <span class="config-control" data-dojo-attach-point="configControlNode"></span>
   </div>
   <div class="details" data-dojo-attach-point="mainNode"></div>
   <div class="clear-both"></div>
</div>