.document-references h2 .edit
{
   background-image: url(../../components/images/edit-16.png);
}
.document-references p,
.document-references ul
{
   margin-bottom: 1em;
}
.document-references li
{
   margin: 1em 0;
   padding: 1em 3em;
   background: transparent url(../documentlibrary/images/record-32.png) no-repeat scroll 0 10px;  
}