<div class="alfresco-prototyping-ScratchPad" data-dojo-attach-point="containerNode">
   <div class="title">Preview</div>
   <div class="preview" data-dojo-attach-point="previewNode"></div>
   <div class="preview-editor">Editor</div>
   <div class="editor" data-dojo-attach-point="editorNode"></div>
   <!-- <div class="pageName"><span>Name:</span><input type="text" data-dojo-attach-point="pageNameNode"> </div> -->
   <div class="generate-button" data-dojo-attach-point="generateButtonNode"></div>
   <div class="buttons" data-dojo-attach-point="buttonsNode"></div>
</div>