/* CSS Overrides for Microsoft Internet Explorer v6 */

#alf-hd
{
   zoom: 1;
}

textarea
{
   font-family: Arial, sans-serif;
   padding: 2px;
   width: 15em;
}

textarea.wide
{
   width: 30em;
}

/**
 * Global site header
 */

body .header .user-items div.search-box
{
   width: 15em;
}

body .header div.yuimenu div.bd ul li.yuimenuitem span.yuimenuitemlabel a
{
   display: inline-block;
}

body .header span.app-items span.yui-menu-button
{
   left: 2px;
   position: relative;
   top: 2px;
}

body .header .user-items span.yui-button,
body .header .search-box span.yui-button
{
   background: none;
   border-width: 0px;
}

body .header .user-items div.search-box input
{
   border-width: 0px;
   padding: 2px;
}


/**
 * Fix empty DIV bug when header & navigation are empty (portlet mode)
 */
#unbound-region-portlet-header,
#unbound-region-portlet-navigation
{
   height: 0;
}

/**
 * Global site footer
 */

.footer-ent .copyright,
.footer-team .copyright
{
   padding-bottom: 0;
   padding-top: 0;
}

.footer-ent .copyright img,
.footer-team .copyright img
{
   padding-bottom: 10px;
   padding-top: 10px;
}

/* These messages/dialogs were getting full width if none was specified */

body #prompt
{
   width: 30em;
}

body #message
{
   width: 30em;
}

/**
 * Buttons
 *
 * Border property "transparent" doesnt work in IE6.
 * Set it to use a background color instead.  
 */

body.alfresco-share div.flat-button span.yui-button,
body.alfresco-share .header .user-items span.user-status span.yui-button
{
   border-width: 0;
   padding: 1px;
}

body.alfresco-share div.flat-button span.yui-button span.first-child,
body.alfresco-share .header .user-items span.user-status span.yui-button span.first-child
{
   border-width: 0;
}


body.alfresco-share div.flat-button span.yui-button-hover,
body.alfresco-share .header .user-items span.user-status span.yui-button-hover
{
   border-width: 1px 0;
   padding: 0;
}

body.alfresco-share div.flat-button span.yui-button-hover span.first-child,
body.alfresco-share .header .user-items span.user-status span.yui-button-hover span.first-child
{
   border-width: 0 1px;
}

body .dashlet .toolbar .yui-button .first-child,
body .dashlet .toolbar .yui-button
{
   border-color: #F6F6F6;
}

body .header .yui-button .first-child,
body .header .yui-button
{
   border-color: #F2F2F2;
}

body .dashlet .toolbar .yui-button.yui-button-hover .first-child,
body .dashlet .toolbar .yui-button.yui-button-hover
{
   border-color: #808080;
}

body .sites-wrapper .yui-button.yui-split-button-activeoption,
body .sites-wrapper .yui-button.yui-split-button-hover
{
   border: 1px solid #7BA9CE;
}

/**
 * Dashlets
 */

div.dashlet .scrollableList
{
   width: 100%;
}

div.dashlet .profile
{
   width: 100%;
}

/* Some dashlets with css float in the body lost their border */

div.dashlet .body .clear
{
   clear: both;
   height: 1px;
}

/* Dashlet resizing with iframes */
.yui-resize-resizing .scrollablePanel iframe
{
   display: none;
}


/**
 * Customise Pages
 */

.customise-pages-page-list-item
{
   display: block;
   float: left;
   width: 10em;
   overflow-y: hidden;
}

.customise-pages .page-list-wrapper
{
   overflow-x: hidden;
   overflow-y: auto;
}


/**
 * Page title and navigation
 */

.page-title
{
   height: 2.2em;
   line-height: 2.2em;
}

.page-title div.title
{
   margin-top: -4px;
}

body .title-button .yui-button
{
   margin-left: 0.7em;
}

.site-navigation
{
   margin-top: -1px;
   padding-top: 6px;
}

/**
 * Re-apply the color for the popup bodies
 */

body .yui-panel .bd
{
   color: #515D6B;
   background-color: #F9FBFD;
}

/**
 * Flash Upload needs some extra width on its popup to look good 
 */

.yui-panel-container .flash-upload
{
   width: 650px;
}

.fileUpload-filelist-table tbody .col-right div.fileupload-right-div
{
   height: 33px;
   margin-top: 7px;
}

.fileupload-fileButton-span
{
   position: static;
}

/**
 * Fix for 1 column dashboard layout
 */

div.grid.columnSize1 div.yui-u.first
{
   width: 100%;
}

/**
 * Fix for 2/3 + 1/3 dashboard layout
 */

div.grid.columnSize2.yui-gc div.yui-u
{
   margin-left: 1.99%;
   width: 32%;
}

div.grid.columnSize2.yui-gc div.yui-u.first
{
   margin-left: 0;
   width: 65%;
}

/**
 * Fix for 1/3 + 2/3 dashboard layout
 */

div.grid.columnSize2.yui-gd div.yui-u
{
   margin-left: 1.99%;
   width: 65%;
}

div.grid.columnSize2.yui-gd div.yui-u.first
{
   margin-left: 0;
   width: 32%;
}

/**
 * Fix for 1/4 + 1/4 + 1/4 + 1/4 dashboard layout
 */

div.grid.columnSize4.yui-g div.yui-g
{
   margin-left: 1.5%;
   width: 49%;
}

div.grid.columnSize4.yui-g div.yui-g.first
{
   margin-left: 0;
   width: 49%;
}

div.grid.columnSize4.yui-g div.yui-g div.yui-u
{
   margin-left: 1.5%;
   width: 47.5%;
}

div.grid.columnSize4.yui-g div.yui-g div.yui-u.first
{
   margin-left: 0;
   width: 47.5%;
}

/**
 * Customise pages
 */

.customise-pages .currentPages ul li
{
   padding-left: 1em;
   padding-right: 1em;
}

/**
 * Customise layouts
 */

.customise-layout div.layouts ul
{
   width: 62em;
}

/**
 * Customise dashlets
 */

.customise-layout div.layouts ul
{
   overflow: hidden;
   width: 61em;
}

.customise-dashlets div.used div.noOfColumns1
{
   width: 28em;
}

.customise-dashlets div.used div.noOfColumns2
{
   width: 48em;
}

.customise-dashlets div.used div.noOfColumns3
{
   width: 68em;
}

.customise-dashlets div.used div.noOfColumns4
{
   width: 88em;
}

.customise-dashlets div.available,
.customise-dashlets div.used
{
   background-color: white;
   border: none;
}

.customise-dashlets ul.availableList,
.customise-dashlets ul.usedList
{
   position: relative;
}

.usedDashlet,
.availableDashlet
{
   overflow: hidden;
}

/**
 * Dashlets / position:relative and overflow:auto bug
 */

.dashlet .scrollableList,
.dashlet .scrollablePanel
{
   background-color: #fff;
   position: relative;
}

.activities div.ruler
{
   background-color: #f9fcfd;
}

/**
 * Dashlets that use a DataTable
 * Fixing MSIE's inability to do anything properly
 */

.my-documents .scrollableList,
.my-sites .scrollableList
{
   overflow-x: hidden;
}

.my-documents table,
.my-sites table
{
   margin-right: -20px !important;
}

.my-documents td,
.my-sites td
{
   cursor: default;
}

/* IE6 min-height fail */

.my-sites div.site-title
{
   padding-bottom: 8px;
}

/**
 * Members / invite pages
 */

.members-bar
{
   height: 1em;
}

.sent-invites .search-bar
{
   height: 2em;
}

/* First filter won't get disclosure triangle without this rule */

div.filter
{
   position: relative;
}

/**
 * Document Library
 */

#alfresco-documentlibrary .toolbar .header-bar,
#alfresco-repository .toolbar .header-bar
{
   margin: 0 -10px;
   padding-bottom: 2em;
}

#alfresco-documentlibrary .toolbar .nav-bar,
#alfresco-repository .toolbar .nav-bar
{
   margin: 0 -10px;
   padding-bottom: 1.9em;
}

#alfresco-documentlibrary .toolbar .breadcrumb .crumb,
#alfresco-documentlibrary .toolbar .breadcrumb a.icon,
#alfresco-repository .toolbar .breadcrumb .crumb,
#alfresco-repository .toolbar .breadcrumb a.icon
{
   border-color: #fff;
}

.doclist .documents .detail
{
   width: 100%;
}

.doclist a.action-link,
.doclist a.simple-link,
.doclist a.show-more
{
   border: medium none;
   height: 16px;
   white-space: nowrap;
   width: 1px;
}

/* When folder, tag, etc. names are too long the layout is destroyed */

#alf-filters
{
   overflow-x: hidden;
}

.doclib-filter h2
{
   background-image: url(../components/images/expanded.png);
}

.treeview .ygtvchildren
{
   width: auto;
}

.global-folder .container-picker
{
   margin: 0.5em 0.2em 0px;
}

.global-folder .path .treeview
{
   overflow-x: scroll;
   width: 22em;
}

.site-folder .path .treeview
{
   overflow-x: scroll;
}

.workflow .people-finder
{
   width: auto;
}

.details input,
.details textarea
{
   width: 26em;
}

.aspects .list-left,
.aspects .list-right
{
   overflow-x: auto;
   overflow-y: scroll;
}
.aspects .yui-g .yui-u
{
   width: 47%;
}
.aspects .yui-g div.first
{
   margin-right: -32px;
}

/**
 * Data Lists
 */

#alf-content .toolbar .header-bar
{
   margin: 0 -10px;
   padding-bottom: 2em;
}

.datagrid
{
	width: 100%;
	overflow: scroll;
	zoom: 1;
}

.datagrid a.action-link,
.datagrid a.simple-link,
.datagrid a.show-more
{
   border: medium none;
   height: 16px;
   white-space: nowrap;
   width: 1px;
}

.datalists .header-bar
{
   padding: 4px 1em 2em;
}

.datalists li a span
{
   display: block;
}


/**
 * Calendar
 */

.calendar-bar .align-right
{
   width: 68% !important;
}

/**
 * Blog
 */

.postlist-infobar div.yui-u
{
   width: 28%;
}

/**
 * Discussions
 */

.topiclist-infobar div.yui-u
{
   width: 28%;
}

/**
 * Profile
 */

.toolbar.userprofile
{
   height: 1.2em;
}

/**
 * Padding to some of the dashlets
 */

div.dashlet.site-profile div.body,
div.dashlet.wiki div.body,
div.dashlet.cmis div.body div,
div.dashlet.rssfeed div.body div.headline
{
   padding-left: 8px;
   padding-right: 8px;
}

div.dashlet div.hdr
{
   padding-left: 9px;
}

div.dashlet .toolbar
{
   padding-left: 2px;
   padding-right: 2px;
}

.toolbar,
.pagelist
{
   margin: 0;
}

/* Full preview background mask */

body.masked div.mask.full-preview-mask
{
   background-color: #303030;
   filter: alpha(opacity = 100);
}

.site-finder .search-bar
{
   height: 2em;
}

/* Prevent ghost border on first row for DataTables */

table .yui-dt-empty
{
   border: none !important;
}

/* Object Finder */

.object-finder .picker-items
{
   padding-right: 20px !important;
}

.object-finder .picker-items table
{
   margin-right: -20px !important;
}

.object-finder .current-values div.itemtype-tag
{
   float: left;
}

/* Search - hover not supported */

.search .thumbnail-cell > div
{
   visibility: visible;
}

/* Lists */

.task-list .tasks td.yui-dt-last .yui-dt-liner,
.workflow-list .workflows td.yui-dt-last .yui-dt-liner
{
   visibility: visible;
}

/* Folder Picker */

.global-folder .mode button
{
   width: 10em;
   height: 4em;
   overflow: hidden;
}

.global-folder .repository-mode .treeview
{
   width: 38em;
}

.global-folder .treeview
{
   width: 22em;
}


/* Rules picker */

.rules-picker .treeview
{
   width: 14em !important;
}

.rules-picker .repository-mode .treeview
{
   width: 30em !important;
}

/* Forms */

.form-container .formsCheckBox 
{
   width: auto;
}

/* Social */

.item-social a.enabled
{
   zoom: 1;
}
