/* CSS Overrides for Microsoft Internet Explorer v7 */

#alf-hd
{
   zoom: 1;
}

textarea
{
   font-family: Arial, sans-serif;
}

/**
 * Fix empty DIV bug when header & navigation are empty (portlet mode)
 */
#unbound-region-portlet-header,
#unbound-region-portlet-navigation
{
   height: 0;
}

/**
 * Global site footer
 */

.footer-ent,
.footer-team
{
   top: -2px;
}

.footer-ent .copyright,
.footer-team .copyright
{
   padding-bottom: 0;
   padding-top: 0;
}

.footer-ent .copyright img,
.footer-team .copyright img
{
   padding-bottom: 10px;
   padding-top: 10px;
}

/**
 * Page title and navigation
 */

.site-navigation
{
   margin-top: -1px;
   padding-top: 6px;
}

body .title-button .yui-button
{
   margin: 0 0.7em;
}

/**
 * Customise dashlets
 */

.customise-dashlets ul.availableList,
.customise-dashlets ul.usedList
{
   position: relative;
}

.dashlet .titleBarActions
{
   height: 22px;
}

/**
 * Dashlets / position:relative and overflow:auto bug
 * Plus: inability to do anything according to any standards, ever
 */

.dashlet .scrollableList,
.dashlet .scrollablePanel
{
   background-color: #fff;
   position: relative;
}

/**
 * Customise Pages
 */

.customise-pages-page-list-item
{
   display: block;
   float: left;
}

.customise-pages .page-list-wrapper
{
   overflow-x: hidden;
   overflow-y: auto;
}

/* Dashlet resizing with iframes */
.yui-resize-resizing .scrollablePanel iframe
{
   display: none;
}

/**
 * Dashlets that use a DataTable
 * Fixing MSIE's inability to do anything properly
 */

.my-documents .scrollableList,
.my-sites .scrollableList
{
   padding-right: 20px;
}

.my-sites .yui-dt-col-actions div
{
   visibility: visible;
}

.my-documents table,
.my-sites table
{
   margin-right: -20px !important;
}

/**
 * Document Library
 */

 .toolbar .header-bar,
 .toolbar .nav-bar
{
   padding-bottom: 3px;
}

.toolbar .selected-items hr
{
   color: #e4e4e4;
   margin: 0px;
   text-align: center;
   width: 10em;
}

.toolbar .nav-bar .breadcrumb
{
   padding-top: 0;
}

.toolbar span.crumb
{
   background-position: left center;
}

.doclist button
{
   height: 1.9em;
}

.doclist .align-right
{
   margin-right: -1px;
}

.doclist .documents .detail
{
   width: 100%;
}

.doclist .documents h3.filename span.document-version
{
   visibility: visible;
}

.doclist .documents .detail a.comment,
.doclist .documents .detail a.like-action,
.doclist .documents .detail a.favourite-document,
.doclist .documents .detail a.favourite-folder
{
   zoom: 1;
}

.doclist div.simple div.more-actions
{
   margin-top: 1px;
   z-index: 1;
}

.workflow .people-selected
{
   height: 206px;
}

.aspects .list-left,
.aspects .list-right
{
   overflow-x: auto;
   overflow-y: scroll;
   padding-right: 16px;
}


/**
 * Calendar
 */

.calendar-bar .align-right
{
   width: 68% !important;
}

/* Full preview background mask */

body.masked div.mask.full-preview-mask
{
   background-color: #303030;
   filter: alpha(opacity = 100);
}

/* Dialogs */

body #prompt
{
   width: 30em;
}

body .groups.remove-dialog
{
   width: 41em;
}

/* Prevent ghost border on first row for DataTables */

table .yui-dt-empty
{
   border: none !important;
}

/**
 * Prevent icon overlay in taglibrary (ETHREEOH-3422)
 * margin-right value must match padding-right value on ".tags_box li a" rule in taglibrary.css
*/

.taglibrary .top_taglist
{
   margin-right: 22px;
}

.taglibrary .bottom_taglist
{
   margin-right: 22px;
}

/* Object Finder */

.object-finder .picker-items
{
   padding-right: 20px !important;
}

.object-finder .picker-items table
{
   margin-right: -20px !important;
}

.object-finder .current-values div.itemtype-tag
{
   float: left;
}

/* Folder Picker */

.global-folder .mode button
{
   width: 10em;
   height: 4em;
   overflow: hidden;
}

.global-folder .repository-mode .treeview
{
   width: 38em;
}

/* Social */

.item-social a.enabled
{
   zoom: 1;
}

/* Rules picker */

.rules-picker .repository-mode .treeview
{
   width: 30em;
}

.rules-picker .treeview
{
   width: 10em;
}

/* Version History */

div.historic-properties-viewer div.nav
{
   margin: 0;
   width: 20em;
}

/* MultiSelectAutoComplete */

.inlineItemEdit input[type="text"]
{
   width: 8em;
}