#lightbox
{
   background-color:#eee;
   padding: 10px;
   border-bottom: 2px solid #666;
   border-right: 2px solid #666;
}

#lightboxDetails
{
   font-size: 0.8em;
   padding-top: 0.4em;
}  

#lightboxCaption
{
   float: left;
}

#keyboardMsg
{
   float: right;
}

#closeButton
{
   top: 5px;
   right: 5px;
}

#lightbox img
{
   border: none;
   clear: both;
} 

#overlay img
{
   border: none;
}

#overlay
{
   background-image: url(../images/lightbox/overlay.png);
}

* html #overlay
{
   background-color: #333;
   back\ground-color: transparent;
   background-image: url(blank.gif);
   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/lightbox/overlay.png", sizingMethod="scale");
}

.images .initial
{
   clear: both;
}

.images .item
{
   padding: 0 4px 8px;
   float: left;
}

.images .thumbnail
{
   width: 100px;
   height: 100px;
   padding: 1px;
   border: 1px solid #CCCCCC;
   overflow: hidden;
   position: relative;
}

.images .thumbnail > div
{
   visibility: hidden;
}

.images .thumbnail:hover > div
{
   visibility: visible;
}

.images .action-overlay
{
   position: absolute;
   margin-top: 80px;
   margin-left: 60px;
}

.images-wait
{
   padding: 2em;
   background-image: url("../images/lightbox/loading.gif");
   background-repeat: no-repeat;
   background-position: 50% 50%;
}

.images-message
{
   padding: 0.5em;
   text-align: center;
}