
.profile .photorow
{
   border-bottom:1px dashed #E9E9E9;
   padding:0.5em 0.5em 1.5em;
}

.profile .photo
{
   float: left;
}

.profile .namelabel
{
   font-size: 123.1%;
   line-height: 1.7em;
   margin-left: 80px;
}

.profile .fieldlabel
{
   line-height: 1.5em;
   margin-left: 80px;
   min-height: 1.5em;
}

.profile .row
{
   padding: 0.3em;
   clear: both;
}

.profile .fieldlabelright
{
   float: left;
   font-weight: bold;
   text-align: right;
   width: 6em;
}

.profile .fieldvalue
{
   margin-left: 6.5em;
   min-height: 1.2em;
}
