.site-links div.link
{
   float: left;
}

.site-links div.actions
{
   float: right;
}

.site-links div.detail-list-item
{
   height : 1em;
}

.site-links div.actions a.details
{
   background-image: url(../images/link-details-16.png);
   background-repeat: no-repeat;
   background-position: center;
   padding: 1em;
   cursor: pointer;
}

.site-links div.description
{
   clear: left;
}