div.dashlet.user-welcome div.detail-list-item-alt
{
   border-top: none;
   border-left: none;
   border-right: none;
   padding: 7px 9px 5px;
}

div.dashlet.user-welcome div.detail-list-item h4,
div.dashlet.user-welcome div.detail-list-item-alt h4
{
   padding-bottom: 0.5em;
   padding-top: 0.3em;
}

div.dashlet.user-welcome div.detail-list-item div,
div.dashlet.user-welcome div.detail-list-item-alt div
{
   padding-bottom: 0.5em;
}