.webview .title a.title-link
{
   background: url("../images/new-window-16.png") no-repeat 100% 0;
   padding-right: 20px;
}

.webview .scrollablePanel
{
   height: 200px;
}

.webview .configureInstructions
{
   padding: 10px;
}