.toolbar
{
   margin: 0;
   min-height: 2em;
/*   padding: 0.5em;*/
}

.toolbar .inline
{
   display: inline;
}

.toolbar .addEvent button
{
   background: transparent url(images/add-event-16-2.png) no-repeat 17px 7px;
   padding-left: 32px;
   *background-position:17px 5px;
}

.toolbar div.first
{
   width: auto;
}

/*.toolbar .first div 
{
   float: left;
}
*/
.toolbar .yui-buttongroup .yui-button
{
   margin: auto 0;
}

div.separator
{
   padding: 0 5px;
   text-align: center;
   margin-top: 5px;
}

.toolbar .ical-feed a
{
   background: transparent url(images/publish.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.yui-skin-default .yui-navset .yui-nav,
.yui-skin-default .yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
    border: solid #2647a0; /* color between tab list and content */
    border-width: 0;
}

.yui-navset
{
   margin: 0 -10px;
   padding: 0.5em 0.5em 0 10px;
}

.toolbar div.yui-u div.addEvent, .toolbar div.yui-u div.separator {
    float:left;
}
.toolbar div.flat-button {
    float:left;
    width:24%;
    padding:0.5em;
}
.calendar-bar .yui-u.first {
  padding:0.5em;
  border-right:1px solid #9eb0b7;
}
.toolbar .yui-button {
  background: url(images/toolbar-unchecked-gradient.gif) 0 0;
}
.toolbar .yui-button, .toolbar .yui-button .first-child {
  border-color:#b7b7b7;
}
.toolbar .yui-radio-button-checked, .toolbar .yui-checkbox-button-checked {
  background: url(images/toolbar-checked-gradient.gif) 0 0;
}

.toolbar .yui-radio-button-checked button, .toolbar .yui-checkbox-button-checked button{
  color:#fff;
}