.workflow-step-creator {
   display: block;
}

.workflow-step-creator-steps {
   
}

.workflow-step-creator-add-step {
    background-color: #999999;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 20px;
    text-align: center;
}