.alfresco-forms-controls-BaseFormControl {
   margin-bottom: @standard-line-height;
}

.alfresco-forms-controls-BaseFormControl > label {
   font-size: @normal-font-size;
   line-height: ceil(@normal-font-size/@standard-line-height) * @standard-line-height;
   margin-bottom: @standard-line-height;
   display: block;
}

.alfresco-forms-controls-BaseFormControl.hiddenlabel > label {
   position: absolute;
   left: -999em;
}

.alfresco-forms-controls-BaseFormControl > .description {
   font-size: @small-font-size;
   line-height: ceil(@small-font-size/@standard-line-height) * @standard-line-height;
   margin-bottom: @standard-line-height;
}

.alfresco-forms-controls-BaseFormControl > .control {
   float: left;
   margin-right: 5px;
   font-size: @large-font-size;
}

.alfresco-forms-controls-BaseFormControl > .requirementIndicator {
   float: left;
   display: none;
}

.alfresco-forms-controls-BaseFormControl > .requirementIndicator.required {
   display: block;
}

.alfresco-forms-controls-BaseFormControl > .units {
   float: left;
   margin-top: 5px;
}

.alfresco-forms-controls-BaseFormControl > .validation {
   float: left;
   display: none;
}

.alfresco-forms-controls-BaseFormControl > img.validationInProgress {
   width: 16px;
   height: 16px;
   float: left;
   margin: 5px;
}

.alfresco-forms-controls-BaseFormControl > img.validationInProgress.hidden {
   display: none;
}

.alfresco-forms-controls-BaseFormControl > .validation-error {
   background: url("./images/error-16.png");
   display: block;
   height: 16px;
   width: 16px;
   background-repeat: no-repeat;
   margin: 5px;
}

.alfresco-forms-controls-BaseFormControl > .validation-message {
   float: left;
   display: none;
   color: #ED2525;
   font-weight: bold;
   margin: 5px;
}

.alfresco-forms-controls-BaseFormControl > .validation-message.display {
   float: left;
   display: block;
}

.alfresco-forms-controls-BaseFormControl > .clear-both {
   clear: both;
   height: 5px;
}

.unmargined .alfresco-forms-controls-BaseFormControl{
   margin-bottom: 0;
}

.unmargined .alfresco-forms-controls-BaseFormControl > .clear-both {
   height: 0;
}