.alfresco-forms-controls-BaseFormControl {
   
}

.alfresco-forms-controls-BaseFormControl > .label {
   
}

.alfresco-forms-controls-BaseFormControl > .control {
   float: left;
   margin-right: 5px;
}

.alfresco-forms-controls-BaseFormControl > .requirementIndicator {
   float: left;
}

.alfresco-forms-controls-BaseFormControl > .units {
   float: left;
}

.alfresco-forms-controls-BaseFormControl > .validation {
   float: left;
   display: none;
}

.alfresco-forms-controls-BaseFormControl > .validation-error {
   background: url("./images/error-16.png");
   display: block;
   height: 16px;
   width: 16px;
   background-repeat: no-repeat;
   margin: 5px;
}

.alfresco-forms-controls-BaseFormControl > .validation-message {
   float: left;
   display: none;
   color: #ED2525;
   font-weight: bold;
}

.alfresco-forms-controls-BaseFormControl > .validation-message.display {
   float: left;
   display: block;
}


.alfresco-forms-controls-BaseFormControl > .clear-both {
   clear: both;
   height: 5px;
}