.alfresco-forms-controls-DojoValidationTextBox div.dijitInputField span.alf-icon {
   width: 30px;
   height: 18px;
   background-repeat: no-repeat;
   margin-top: 1px;
   float: left;
}

.alfresco-forms-controls-DojoValidationTextBox div.dijitInputField span.alf-icon.alf-search-icon {
   background-image: url("./images/search-icon.png");
}

.alfresco-forms-controls-DojoValidationTextBox span.alf-icon + input.dijitInputInner {
   width: calc(100% - 30px) !important;
}

.alfresco-forms-controls-DojoValidationTextBox div.control div.dijitValidationTextBox {
   border-color: #6B7881;
}

.alfresco-forms-controls-DojoValidationTextBox.long div.control div.dijitValidationTextBox {
   width: 400px;
}