/* Generic lists*/
ul.list,ul.list li {
   list-style:none;
   padding:0;
   line-height: 24px;
}
/* Rounded corner lists */
ul.rr,div.rr {
/*   -webkit-border-radius: 13px;*/
/*   background-color: white;*/
/*   border: 1px solid rgb(217, 217, 217);*/
   margin: 0px 1em 0.5em 1em;
   padding: 0px;
}
ul.rr li {
   border-bottom: 1px solid rgb(217, 217, 217);
   background-color: white;
   color: black;
   list-style:none;
/*   background:url(./images/iPhoneArrow.png) 100% 50% no-repeat;*/
}
ul.rr li:first-child {
   -webkit-border-top-right-radius: 13px; 
   -webkit-border-top-left-radius: 13px;
   border-top:0;
}

ul.rr li:last-child {
   -webkit-border-bottom-right-radius: 13px; 
   -webkit-border-bottom-left-radius: 13px;
   border-bottom:0;
   border-top:0;
}
ul.rr li a,ul.e2e li a {
   color:#000;
   display:block;
   padding: 8px 32px 8px 8px;
}
ul.rr li a {
   padding-left:2.5em;
}
ul.rr li a span,ul.e2e li a span {
   font-weight:bold;
}
/* Edge to Edge list*/
ul.e2e {
   margin-top:0;
   border: 1px solid rgb(217, 217, 217);
   padding:0;
}
ul.e2e li:first-child {
   border:none;
}
ul.e2e li {
   padding: 0em;
   border-top: 1px solid rgb(217, 217, 217);
   background-color:#fff;
   margin:0;
}
#tasksPage ul.e2e li a {
   padding-left:2.5em;

}
/*ul.e2e li:active a,
ul.e2e li:hover a{
   background-position:100% -32px;
}
*/
ul.e2e li.details a,
ul.e2e li.details:hover a,
ul.e2e li.details:active a {
   background:none;
}
ul.rr.info li:active,
ul.rr.info li:hover  {
   background:#fff none;
}
ul.e2e li:active,
ul.e2e li:hover,
ul.rr li:active,
ul.rr li:hover {
  background:#194fdb url(./images/selection.png) repeat-x;
}

ul.e2e li:active a,
ul.e2e li:hover a,
ul.e2e li.details:active p,
ul.e2e li.details:hover p,
ul.e2e li.details:active span,
ul.e2e li.details:hover span,
ul.rr li:active a,
ul.rr li:hover a {
   color:#fff;
}
div.rr {
   -webkit-border-radius: 13px;
   background-color: white;
   border: 1px solid rgb(217, 217, 217);
}
.tabs .e2e.active {
   display:block;
}
.tabs .e2e {
   display:none;
}

div.details,li.details {
   margin:1em;
   padding:1em;
   position:relative;
   min-height:64px;   
}
div.details h2,li.details h2
{
   color:#000;
   font-size:16px;
}
.details img {
   float:left;
   margin-right:0.5em;
}
.details p {
   width:100%;
   margin:0;
   font-size:14px;
}
.details div {
   margin:0 40px;
}

.details h2,.details h3 {
   margin:0;
   padding:0;
}
li.details h2 a,li.details h3 a {
   padding:0;
}
.details a.more img {
   float:right;
   padding:1.5em 0;
}
div.details a.more img
{
   margin-top:0.5em;
}
.details a.more {
   position:absolute;
   height:64px;
   top:0;
   right:5px;
   padding-right:0px;
}

ul.e2e li.details {
   min-height:68px;
   background-image:none;
   margin:0;
   padding:0.5em 0.5em 0.5em 70px;
/*   position:relative;*/
}
ul.e2e li.details h3{
   font-size:16px;
   font-weight:normal;
   line-height:1.1em;
   margin-bottom:5px;
}
ul.e2e li.details p
{
   font-size:81%;
   color:#000;
   line-height:1.2em;
}
ul.e2e li.details span {
   color:#999;
}

ul.rr.info li {
   background-image:none;
   padding:0.5em;
/*   text-align:right;*/
}
ul.rr.info li span 
{
   color:#999;
/*   float:left;*/
   margin-right:0.5em;
}
p.toenail {
   float:left;
   margin:0;
   position:absolute;
   left:0;
   color:#000;
}
div#RMod ul, div#My ul, div#All ul{
   border-top:1px solid #999;
}
div#RMod .list, div#My .list,  div#All .list{
   margin:0;
}
div#RMod li h2, div#My li h2, div#All li h2{
   display:block;
   margin:0;
   font-weight:bold;
   font-size:81%;
   padding:2px 0 2px 0.5em;
   background-color:#f2f2f2;
}
div#RMod,div#My,div#All {
   margin-bottom:1em;
}

a.preview {
   margin:1em auto;
   width:48px;
   display:block
}