<div class="alfresco-forms-controls-BaseFormControl wipe" data-dojo-attach-point="containerNode">
   <label class="label" data-dojo-attach-point="_labelNode"></label>
   <div class="description" data-dojo-attach-point="_descriptionNode"></div>
   <div class="control" data-dojo-attach-point="_controlNode"></div>
   <span class="requirementIndicator" data-dojo-attach-point="_requirementIndicator">*</span>
   <span class="units" data-dojo-attach-point="_unitsNode"></span>
   <img class="validationInProgress hidden" src="${validationInProgressImgSrc}" alt-text="${validationInProgressAltText}" title="${validationInProgressAltText}"data-dojo-attach-point="_validationInProgressIndicator">&nbsp;</img>
   <span class="validation" data-dojo-attach-point="_validationIndicator">&nbsp;</span>
   <span class="validation-message" data-dojo-attach-point="_validationMessage"></span>
   <div class="clear-both">&nbsp;</div>
</div>