<div class="form-control wipe" data-dojo-attach-point="containerNode">
   <div class="form-control-label" data-dojo-attach-point="_labelNode"></div>
   <div class="form-control-control" data-dojo-attach-point="_controlNode"></div>
   <span class="form-control-requirementIndicator" data-dojo-attach-point="_requirementIndicator">*</span>
   <span class="form-control-units" data-dojo-attach-point="_unitsNode"></span>
   <span class="form-control-validation" data-dojo-attach-point="_validationIndicator">&nbsp;</span>
   <span class="form-control-validation-message" data-dojo-attach-point="_validationMessage"></span>
   <div class="form-control-clear-both">&nbsp;</div>
</div>