<div class="alfresco-forms-controls-MultipleEntryElementWrapper">
   <div class="wrapped-content" data-dojo-attach-point="containerNode"></div>
   <div class="button doneEditing clear-hide" data-dojo-attach-point="doneEditingButton" data-dojo-attach-event="onclick:doneEditingElement"></div>
   <div class="button delete" data-dojo-attach-point="deleteButton" data-dojo-attach-event="onclick:deleteElement"></div>
   <div class="button edit" data-dojo-attach-point="editButton" data-dojo-attach-event="onclick:editElement"></div>
   <div class="clear-both"></div>
</div>