@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(opensans.woff) format('woff');
}

body
{
   text-align: left;
}

input
{
   border: 1px solid #ccc;
   padding: 2px;
   font-weight: normal;
}

.yui-panel-container.shadow .underlay
{
   display: none;
}

.yui-skin-sam .yui-panel
{
   border-style: none;
}

.login-panel
{
   width: 290px;
   height: 290px;
   padding-left: 24px;
   font-family: Open Sans,Arial,Helvetica,sans-serif;
   color: #333;
   visibility: hidden;
   border: 1px solid #ccc;
   background-color: #fff;
   box-shadow: 3px 3px 6px #ccc;
   border-radius: 16px;
}

.login-panel input
{
   font:99% Open Sans,arial,helvetica,clean,sans-serif;
}

.login-panel input[type="text"], .login-panel input[type="password"]
{
   width: 260px;
}

.login-button
{
   background-color: #fff;
}

.login-copyright
{
   font-family: Open Sans,Arial,Helvetica,sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #333;
}

.login-logo
{
   position: absolute;
   top: 20px;
   height: 64px;
   width: 450px;
   background: transparent url("./images/logo.png") no-repeat;
}