.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-recent-site-icon {
   background: url("./images/recent-site.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-favourite-site-icon {
   background: url("./images/favourite-site.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-site-finder-icon {
   background: url("./images/site-finder.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-create-site-icon {
   background: url("./images/create-site.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-profile-icon {
   background: url("./images/user-profile.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-help-icon {
   background: url("./images/user-help.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-logout-icon {
   background: url("./images/user-logout.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-user-password-icon {
   background: url("./images/user-password.png");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}

.alfresco-share .dijitIcon.dijitMenuItemIcon.alf-loading-icon {
   background: url("./images/wait.gif");
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
}