.alfresco-share .alf-home-icon {
   background: url("./images/home.png");
   background-repeat: no-repeat;
   height: 16px;
   width: 16px;
   display: block;
   float: left;
}

.alfresco-share .alf-header {
   background-color: #000000;
   color: #A6A6A6;
   font-family: Open Sans Bold,arial,​helvetica,​clean,​sans-serif;
   padding: 0;
   margin: 0 -10px;
}

/* Sets the blue highlight on the menu bar items in the header bar ONLY */
.alfresco-share .alf-header .alf-menu-bar .dijitMenuPassive .dijitMenuItemHover {
   background-color: #1682c6;
   color: #fafafa;
}

.alfresco-share .alf-header-menu-bar .dijitMenuItem {
   color: #ffffff;
}

/* Sets the blue highlight on popup menu items in the header bar ONLY. Note that we need to use "alf-header-menu-bar" and not
   just "alf-header" because the popup is not a direct child of the node set with the "alf-header" class */
.alfresco-share .alf-header-menu-bar .alf-menu-group .dijitMenuPassive .dijitMenuItemHover, 
.alfresco-share .alf-header-menu-bar .alf-menu-group .dijitMenuItemSelected {
   background-color: #1682c6;
   color: #FFFFFF;
}

/* Sets the correct height for the header menu bar items. This may need to be changed for different browsers and
 * possible adjusted if items in the header are changed */
.alfresco-share .alf-header .dijitReset.dijitInline.dijitMenuItemLabel.dijitMenuItem {
   height: 22px;
   margin: 0 10px;
   padding-top: 5px;
   color: #A6A6A6;
}

/* Sets the dark grey colour in the drop-down menus in header menus ONLY. */
.alfresco-share .alf-header-menu-bar.alf-menu-groups {
   background-color: #4D4D4D;
   border: 1px solid #4D4D4D;
}

/* Sets the dark grey colour in the menu groups in the header menu ONLY */
.alfresco-share .alf-header-menu-bar .dijitMenuTable {
   background-color: #4D4D4D;
   color: #FFFFFF;
}

/* Sets the menu group title background colour in the header menu ONLY */
.alfresco-share .alf-header-menu-bar .alf-menu-group.dijitMenu {
   background-color: #4D4D4D;
}

/* Stops the line appearing between menu items in the header bar menu ONLY */
.alfresco-share .alf-header-menu-bar .alf-menu-group .dijitReset.dijitMenuItem {
   border-bottom: none;
}
