.alfresco-share .alf-search-box .dijit.dijitReset.dijitInline.dijitDropDownButton {
   float: left;
}

.alfresco-share .alf-search-box .dijitReset.dijitInline.dijitButtonNode {
   border: medium none;
}

.alfresco-share .alf-search-box {
   background-color: #eee;
   border-radius: 16px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
   color: #333;
   margin: 3px 20px 3px 10px;
   padding: 0 0 2px 8px;
   max-height: 20px;
}

.alfresco-share .alf-search-box-menu {
   display: inline-block;
}

.alfresco-share .alf-search-box-text {
   background-color: #eee;
   border: none !important;
   padding: 0 !important;
   margin-right: 8px;
   margin-left: -6px;
   position: relative;
   top: 1px;
   margin-top: 1px;
}

.alfresco-share .alf-search-box-text:focus
{
   outline:none;
}

/* This defines the search icon for use in popup menu items only */
.alfresco-share .alf-search-icon {
   height: 16px;
   width: 16px;
   display: block;
   margin-top: -2px;
}

/* This overrides the header menu bar settings to ensure that the popup menu item is the right height */
.alfresco-share .alf-header .alf-search-box-menu .dijitReset.dijitInline.dijitMenuItemLabel.dijitMenuItem {
   height: 16px;
   margin-top: 0;
   margin-left: -2px;
   padding-right: 2px;
}

.alfresco-share .alf-livesearch {
   position: absolute;
   right: 16px;
   min-width: 240px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
   box-shadow: 0.33px 0px 8px rgba(0, 0, 0, 0.3);
   color: #333;
   margin: 2px;
   z-index: 1000;
   display: none;
}

.alfresco-share .alf-livesearch .alf-livesearch-title {
   clear: both;
   font-size: 115%;
   padding: 3px 3px 5px 3px;
   background-color: #eee;
}

.alfresco-share .alf-livesearch .alf-livesearch-more {
   margin: -10px 0 14px 0;
   display: none;
}

.alfresco-share .alf-livesearch .alf-livesearch-more span {
   position: absolute;
   right: 5px;
   width: 16px;
   height: 8px;
   background: url("./images/more.png") no-repeat 0 0;
}

.alfresco-share .alf-livesearch .alf-livesearch-clear {
   position: absolute;
   top: 5px;
   right: 5px;
   width: 10px;
   height: 10px;
   line-height: 10px;
   background-image: url("./images/close.png");
   background-repeat: no-repeat;
}

.alfresco-share .alf-livesearch-list {
   padding: 2px 4px 6px 6px;
   border-top: 1px solid #ccc;
}

.alfresco-share .alf-livesearch-list > div {
   clear: both;
   padding: 4px 2px 6px 2px;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-thumbnail {
   float: left;
   border: 1px solid #ccc;
   box-shadow: 0px 1px 3px #ccc;
   max-height: 32px;
   overflow: hidden;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-icon {
   float: left;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-item {
   margin-left: 40px;
   line-height: 1.3em;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-item span {
   font-size: 85%;
}
