.alfresco-share .alf-search-box .dijit.dijitReset.dijitInline.dijitDropDownButton {
   float: left;
}

.alfresco-share .alf-search-box .dijitReset.dijitInline.dijitButtonNode {
   border: medium none;
}

.alfresco-share .alf-search-box {
   margin: 2px 20px 0px 10px;
   background-color: #eee;
   border-radius: 12px;
   box-shadow: 1px 1px 3px #ccc inset;
   padding-left: 8px;
   padding-left: 4px;
   padding-bottom: 1px;
}

.alfresco-share .alf-search-box-inner {
   font-size: 100%;
}

.alfresco-share .alf-search-box-menu {
   display: inline-block;
}

.alfresco-share .alf-search-box-text {
   background-color: #eee;
   border: none !important;
   padding: 0 !important;
   margin-right: 8px;
   margin-left: -6px;
   position: relative;
   top: 1px;
   margin-top: 1px;
}

.alfresco-share .alf-search-box-text:focus {
   outline:none;
}

/* This defines the search icon for use in popup menu items only */
.alfresco-share .alf-search-icon {
   height: 16px;
   width: 16px;
   display: block;
   margin-top: -2px;
}

/* This overrides the header menu bar settings to ensure that the popup menu item is the right height */
.alfresco-share .alf-header .alf-search-box-menu .dijitReset.dijitInline.dijitMenuItemLabel.dijitMenuItem {
   height: 16px;
   margin-top: 0;
   margin-left: -2px;
   padding-right: 2px;
}

.alfresco-share .alf-search-box-clear {
   display: inline-block;
   width: 16px;
   height: 16px;
   line-height: 12px;
   background-image: url("../../css/images/Delete.PNG");
   background-repeat: no-repeat;
   margin-right: 10px;
}

.alfresco-share .alf-livesearch {
   position: absolute;
   right: 4px;
   min-width: 360px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0.33px 0px 8px rgba(0, 0, 0, 0.3);
   color: #333;
   margin-top: 3px;
   margin-right: 15px;
   z-index: 1000;
   display: none;
}

.alfresco-share .alf-livesearch .wait {
   background: url("./images/wait.gif") center no-repeat;
}

.alfresco-share .alf-livesearch .alf-livesearch-title {
   clear: both;
   font-size: 115%;
   padding: 15px 9px 5px 9px;
}

.alfresco-share .alf-livesearch .alf-livesearch-more {
   display: none;
}

.alfresco-share .alf-livesearch .alf-livesearch-more span {
   position: absolute;
   right: 10px;
   height: 10px;
   background: url("../../css/images/ArrowDown.PNG") no-repeat 100% 100%;
   padding-right: 22px;
}

.alfresco-share .alf-livesearch-list {
   padding: 2px 6px 6px 6px;
}

.alfresco-share .alf-livesearch-list > div {
   clear: both;
   padding: 5px 2px 5px 2px;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-thumbnail {
   float: left;
   /*border: 1px solid #ccc;*/
   /*box-shadow: 0px 1px 3px #ccc;*/
   max-height: 32px;
   overflow: hidden;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-icon {
   float: left;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-item {
   margin-left: 40px;
   line-height: 1.3em;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-item span,
.alfresco-share .alf-livesearch-list .alf-livesearch-item span a {
   color: #ccc;
}

.alfresco-share .alf-livesearch-list .alf-livesearch-item span {
   font-size: 85%;
}
