.alfresco-share h1.alf-menu-title {
   margin-top: 18px;
   font-weight: normal;
}

.alfresco-share h1 .alf-menu-title-text {
   font-family: Open Sans Condensed, Arial, sans-serif;
   color: #333 !important;
   text-decoration: none;
}