.alfresco-share .alf-menu-title {
   margin-top: 18px;
}

.alfresco-share .alf-menu-title-text {
   font-family: Open Sans Condensed,Arial,sans-serif;
   font-size: 200%;
   color: #333 !important;
   text-decoration: none;
}
