.alfresco-share .alf-menu-user-status {
  margin-bottom: 10px;
}

.alfresco-share .alf-menu-user-status-text-area {
  margin-bottom: 10px;
}

.alfresco-share .alf-menu-user-status-text-area > textarea {
   box-shadow: 0 0 8px rgba(50, 50, 50, 0.25) inset;
   border: none;
   padding: 2px;
   color: #838383;
   width: 100%;
   font-family: Open Sans,arial,sans-serif;
   font-size: 108%;
}

.alfresco-share .alf-menu-user-status-title {
   border-bottom: 1px solid #7E7E7E;
   color: #7E7E7E;
   margin-bottom: 5px;
}

.alfresco-share .alf-menu-user-status-last-update {
   float: left;
}

.alfresco-share .alf-menu-user-status-post-button {
  background-color: #CCCCCC;
  border: medium none;
  border-radius: 4px 4px 4px 4px;
  color: #575757;
  float: right;
  font-weight: bold;
  padding: 2px 10px;
  margin-left: 20px;
}
