# Custom Lotus Quickr configuration
lotus.ws.version=8.0.5
lotus.ws.supported.versions=8.0.1,8.0.5
#generator.version must reflect version of quickr that you use
lotus.ws.generator.version=8.5
lotus.server.port=6060
lotus.server.host=localhost
lotus.share.document.url=/page/site/{0}/document-details?nodeRef\={1}
lotus.share.folder.url=/page/site/{0}/documentlibrary\#path\={1}
lotus.share.site.url=/page/site/{0}/dashboard