
.alfresco-documentlibrary-AlfDocumentFilters:first-child {
  border-radius: 5px 5px 0 0;
}

.alfresco-documentlibrary-AlfDocumentFilters:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #DCD8D8;
}

.alfresco-documentlibrary-AlfDocumentFilters {
   border: 1px solid #DCD8D8;
   width: 320px;
   padding: 5px;
   border-bottom: none;
   padding: 15px 5px;
   display: block;
}

.alfresco-documentlibrary-AlfDocumentFilters.hidden {
   display: none;
}

.alfresco-documentlibrary-AlfDocumentFilters > div.alfresco-twister {
  padding-left: 20px !important; /* Important is only required to override base.css use of important */
}

.alfresco-documentlibrary-AlfDocumentFilters .label {
   font-family: @bold-font;
   color: @general-font-color;
   font-size: @normal-font-size;
   font-weight: normal;
   margin-bottom: @standard-line-height;
   margin-left: 15px;
}

.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.showMore,
.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.showLess {
   color: @de-emphasized-font-color;
   display: block;
   cursor: pointer;
}

.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.showMore.hidden,
.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.showLess.hidden {
   display: none;
}

.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.moreOption {
   display: block;
}

.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.moreOption.hidden {
   display: none;
}

