
.alfresco-documentlibrary-AlfDocumentFilters:first-child {
  border-radius: 5px 5px 0 0;
}

.alfresco-documentlibrary-AlfDocumentFilters:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: @standard-border;
  margin-bottom: @standard-line-height;
}

.alfresco-documentlibrary-AlfDocumentFilters {
   border: @standard-border;
   width: 320px;
   border-bottom: none;
   display: block;
   padding-top: @standard-line-height;
}

.alfresco-documentlibrary-AlfDocumentFilters.hidden {
   display: none;
}

.alfresco-documentlibrary-AlfDocumentFilters > div.alfresco-twister {
   padding-left: 20px !important; /* Important is only required to override base.css use of important */
   background-position-y: 25% !important;
}

.alfresco-documentlibrary-AlfDocumentFilters .label {
   font-family: @bold-font;
   color: @general-font-color;
   font-size: @normal-font-size;
   font-weight: normal;
   padding-bottom: @standard-line-height - 2;
   margin-left: @standard-column-width;
}

.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.showMore,
.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.showLess {
   color: @de-emphasized-font-color;
   display: block;
   cursor: pointer;
}

.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.showMore.hidden,
.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.showLess.hidden {
   display: none;
}

.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.moreOption {
   display: block;
}

.alfresco-documentlibrary-AlfDocumentFilters ul.filters li.moreOption.hidden {
   display: none;
}
