.form-preview {
   background-color: #FFFFFF;
}

.form-preview-title-bar {
   background-color: #6CA5CE;
   color: #FFFFFF;
   font-weight: bold;
   padding: 5px;
}

.form-preview-title-bar-label {
   float: left;
}

.form-preview-title-bar-close {
   float: right;
}

.form-preview-body {
   padding: 10px;
}