.form-creator {
   
}

.form-creator-preview {
   border: 2px solid grey;
   border-radius: 10px 10px 10px 10px;
   margin-bottom: 10px;
   padding: 10px;
}

.form-creator-editor {
   
}

.form-creator-generate-button {
     
}