.alfresco-documentlibrary-AlfDocumentList, .alfresco-documentlibrary-views-layouts-AlfDocumentListView {
   
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView > table {
   $theme-widget-table-1
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView table tr:nth-child(even) {
   $theme-widget-bg-3
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView table tr:nth-child(odd) {
   $theme-widget-bg-2
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView td {
   border-top: $theme-widget-border-1;
   border-bottom: $theme-widget-border-1;
   border-right: $theme-widget-border-1;
   $theme-widget-td-1
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView td.last {
   border-right: none;
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView.dndHighlight {
   $theme-widget-dnd-highlight
}