.alfresco-documentlibrary-views-layouts-AlfDocumentListView > table {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
   border: none;
   border-bottom: 1px solid @docListBorderColour; 
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView > table > tbody > tr:nth-child(even) {
   /*background-color: @docListEvenRowColour;*/
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView > table > tbody > tr:nth-child(odd) {
   /*background-color: @docListOddRowColour;*/
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView > table > tbody > tr > td {
   border-top: 1px dashed @docListBorderColour;
   border-bottom: 1px dashed @docListBorderColour;
   border-right: 1px solid @docListBorderColour;
   padding: 10px;
   margin: 0;
   vertical-align: top;
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView td.smallpad {
   padding: 4px;
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView td.last {
   border-right: none;
}

.alfresco-documentlibrary-views-layouts-AlfDocumentListView.dndHighlight {
   outline: 2px solid @docListDndHighlight;
   outline-offset: -2px;
}