.left-and-right .left-widgets {
   float: left;
}

.left-and-right .right-widgets {
   float: right;
}

.horizontal-widgets {
}

.horizontal-widget {
   float: left;
}

.left-widgets {
   float: left;
}

.right-widgets {
   float: right;
}