/* Apply this class to the parent of the twisters */
.alfresco-Twister-container {
    width: @sidebar-component-width;
    border: @standard-border;
    border-radius: @standard-line-height / 2;
    margin-bottom: @standard-line-height * 2;
}

.alfresco-layout-Twister {
    border-top: @standard-border;
    width: @sidebar-component-width;
    display: block;
    padding-top: @standard-line-height;

    &:first-child {
        border: none;
    }

    &.hidden {
        display: none;
    }

    &.no-borders {
        border: none;
    }

    > div.alfresco-twister {
        padding-left: 20px !important; /* Important is only required to override base.css use of important */
        background-position: 0 3px !important;
    }

    > div.alfresco-twister-closed {
        background-position: 0 3px !important;
    }

    .label,
    .label h3 {
        font-family: @bold-font;
        color: @general-font-color;
        font-size: @normal-font-size;
        font-weight: normal;
    }
    .label {
        margin-left: @standard-column-width;
        padding-bottom: @standard-line-height - 2;
    }

    .content {
        margin-left: (@standard-column-width + @standard-column-spacing) * 2;
    }
}