.alfresco-search-FacetFilter {
   overflow: hidden;
   line-height: ceil(@normal-font-size/@standard-line-height) * @standard-line-height;
   margin-bottom: @standard-line-height;
   font-size: @normal-font-size;
   list-style-type: none;
}

.alfresco-search-FacetFilter:last-child {
  margin-bottom: 0;
}

.alfresco-search-FacetFilter .status {
   display: inline-block;
   width: 20px;
   float: left;
}

.alfresco-search-FacetFilter .details {
   display: block;
   margin-left: 20px;
   word-break: break-all;
}

.alfresco-search-FacetFilter .filterLabel {
   cursor: pointer;
}

.alfresco-search-FacetFilter .filterLabel.applied {
   .emphasized-font;
}

.alfresco-search-FacetFilter .hits {
   .de-emphasized-font;
   margin-left: 5px;
}

.alfresco-search-FacetFilter .status .remove {
   cursor: pointer;
}

.alfresco-search-FacetFilter .status .remove.hidden {
   display: none;
}