.manageReferences .title {
   color:#515D6B;
   font-size:123.1%;
   font-weight:bold;
   padding-bottom:0.5em;
}

.manageReferences 
{
  text-align: right;
  padding:1em 0;
}
.manageReferences h2 
{
  float: left;
  font-size:118%;
}
.manageReferences h3
{
   clear:both;
   text-align:left;
   margin-top:0.5em;
} 
.manageReferences ol 
{
  text-align: left;
  border: 1px solid #999;
  margin:1em 0;
}
.manageReferences li 
{
  clear:both;
  padding: 1em 0.5em 1em 3em;
  background: transparent url(../documentlibrary/images/record-32.png) no-repeat scroll 4px 7px;
  text-align: right;
  border-bottom: 1px solid #999;
}
.manageReferences li:last-child 
{
  border-bottom: none;
}
.manageReferences ol li span 
{
  float: left;
}
.manageReferences ol li span.yui-button
{
  float: none;
} 
.manageReferences ol li button 
{
  margin:0 0.5em;
}
.manageReferences div.componentFtr
{
   width:100%;
   text-align:center;
}

.manageReferences p#to-no-refs,
.manageReferences p#from-no-refs
{
   text-align: left;
   display:none;
   margin-bottom:1em;
}

.manageReferences p#to-no-refs.active,
.manageReferences p#from-no-refs.active
{
   display:block;
}