.doclist
{
   clear: both;
   visibility: hidden;
}

.doclist a:hover
{
   text-decoration: none;
}

.doclist .align-center
{
   text-align: center;
}

.doclist .align-right
{
   text-align: right;
}

/* DocList bar */

.doclist .doclist-bar
{
   background-color: #f8f8f8;
   border-bottom: 1px dashed #c0c0c0;
   margin: 0 -10px;
   padding: 4px 0.5em 2px;
}

.doclist .doclist-bar-bottom
{
   border-top: 1px dashed #d9d9d9;
   margin-top: 2em;
   display: none;
}

.doclist span.separator
{
   border-right: 1px dotted #457A9C;
   border-top: medium none;
   margin: 0 4px;
   padding: 2px 0;
   position: relative;
   top: -4px;
   vertical-align: bottom;
}

/* DocList bar Buttons and Paginator */

.doclist .doclist-bar .file-select
{
   float: left;
   width: 15%;
}

.doclist .doclist-bar .paginator
{
   float: left;
   margin: 0;
   padding: 4px 0;
   text-align: center;
   width: 80%;
}

.doclist .doclist-bar .yui-pg-current
{
   margin-right: 0;
}

/* DocList bar Select menu */

.doclist .file-select .yuimenuitemlabel span
{
   background-position: 2px 50%;
   background-repeat: no-repeat;
   cursor: pointer;
   display: block;
   margin-left: -4px;
   min-height: 16px;
   padding: 2px 0px 1px 24px;
}

.doclist .file-select .selectAll
{
   background-image: url(images/select-all-16.png);
}

.doclist .file-select .selectNone
{
   background-image: url(images/select-none-16.png);
}

.doclist .file-select .selectInvert
{
   background-image: url(images/select-invert-16.png);
}

.doclist .file-select .selectFolders
{
   background-image: url(images/select-folders-16.png);
}

.doclist .file-select .selectDocuments
{
   background-image: url(images/select-documents-16.png);
}

/* DocList bar Simple / Detailed view */

.doclist .show-folders,
.doclist .simple-detailed
{
   float: right;
}

.doclist .show-folders
{
   margin-right: 4px;
}

.doclist .show-folders .separator
{
   margin-left: 0;
}

.doclist .simple-detailed .yui-button
{
   margin-left: 0;
   margin-right: 0;
}

.doclist .simple-detailed span.first-child
{
   background-position: 50% 50%;
   background-repeat: no-repeat;
   min-height: 16px;
   padding: 0 2px;
}

.doclist .simple-detailed .simple-view span.first-child
{
   background-image: url(images/simple-view-off-16.png);
}

.doclist .simple-detailed .simple-view.yui-button-checked span.first-child
{
   background-image: url(images/simple-view-on-16.png);
}

.doclist .simple-detailed .detailed-view span.first-child
{
   background-image: url(images/detailed-view-off-16.png);
}

.doclist .simple-detailed .detailed-view.yui-button-checked span.first-child
{
   background-image: url(images/detailed-view-on-16.png);
}

/* Forms */

.form-container .form-fields
{
   border-bottom: medium none;
   padding: 1em 1em 0em 1em;
}

/* Details Form */

.form-container .edit-metadata a,
.form-container .edit-metadata a:visited
{
   background: transparent url(images/edit-metadata-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

/* Data Table */

.doclist .documents table
{
   border: medium none;
   width: 100%;
}

.doclist .documents thead
{
   display: none;
}

.doclist .documents tbody
{
   outline: none;
}

.doclist .documents .yui-dt table
{
   border: none;
}

.doclist tr.yui-dt-odd
{
   background-color: #ffffff;
}

.doclist tr.yui-dt-odd.yui-dt-highlighted td.yui-dt-last,
.doclist tr.yui-dt-even.yui-dt-highlighted td.yui-dt-last
{
   border-left: 1px solid #c5e6e9;
}

.doclist .documents.yui-dt .yui-dt-data td
{
   border-bottom: 1px dashed #d9d9d9;
   border-right: medium none;
   vertical-align: top;
}

.doclist .documents.yui-dt .yui-dt-data .yui-dt-last td
{
   border-bottom: medium none;
}

.doclist .documents.yui-dt tr.yui-dt-first td
{
   border-top: medium none;
}

.doclist .documents.yui-dt td.yui-dt-last
{
   border-left: 1px solid #fff;
   vertical-align: middle;
}

.doclist .yui-dt-liner
{
   padding: 4px;
}

.doclist .documents.yui-dt tr.yui-dt-first td.yui-dt-empty
{
   border-right: medium none;
}

.doclist .yui-dt-error
{
   background: red;
   color: white;
   font-weight: bold;
   margin: 1em auto;
   padding: 1em;
}

/* This rule is vital to workaround a Firefox mouseout bug */

.doclist .yui-dt-col-4
{
   overflow: visible;
}

/* Cell Renderers */

.doclist span.folder
{
   display: block;
   position: relative;
}

.doclist .documents .icon32
{
   cursor: pointer;
   display: block;
   min-height: 32px;
}

.doclist .documents .icon32 span.link,
.doclist .documents .folder-small span.link
{
   background: url(images/link-16.png) no-repeat;
   height: 16px;
   width: 16px;
   position: absolute;
}

.doclist .documents .thumbnail
{
   cursor: pointer;
   display: block;
   height: 100px;
   overflow: hidden;
   padding-top: 2px;
   position: relative;
   width: 100px;
}

.doclist .documents .thumbnail span.link,
.doclist .documents .folder span.link
{
   background: url(images/link-32.png) no-repeat;
   height: 32px;
   width: 32px;
   position: absolute;
}

.doclist .documents h3.filename
{
   font-size: 123%;
   font-weight: normal;
   float: left;
   padding-bottom: 0.2em;
   padding-top: 0.2em;
   width: 100%;
}

.doclist .documents h3.filename span.title
{
   color: #606060;
   font-size: 82%;
   padding-left: 0.7em;
}

.doclist .documents
{
   color: #333333;
   margin: 0 -10px 0 -8px;
}

.doclist .documents a
{
   color: #2B6EB5;
}

.doclist .documents a:active,
.doclist .documents a:hover
{
   text-decoration: underline;
}

/* Favourite document / folder indicator */

.doclist .documents h3 a.favourite-document,
.doclist .documents h3 a.favourite-folder
{
   background-image: url(../images/star-deselected_16x16.png);
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
   margin-right: 8px;
   padding: 6px;
}

.doclist .documents h3 a.favourite-document.enabled,
.doclist .documents h3 a.favourite-folder.enabled
{
   background-image: url(../images/star-selected_16x16.png);
}

.doclist .documents h3 a.favourite-document:active,
.doclist .documents h3 a.favourite-document:hover,
.doclist .documents h3 a.favourite-folder:active,
.doclist .documents h3 a.favourite-folder:hover
{
   text-decoration: none;
}

.doclist .documents .rename-file
{
   background-color: #e8e8e8;
   border: 1px solid #808080;
   cursor: pointer;
   float: left;
   margin-left: 2em;
   position: relative;
   top: -2px;
}

.doclist .documents .detail
{
   clear: left;
   float: left;
   line-height: 1.8em;
   padding-left: 24px;
}

.doclist .documents .detail em
{
   color: #606060;
   font-style: normal;
   font-weight: normal;
}

.doclist .documents .detail span.item
{
   float: left;
   padding-right: 2em;
}

.doclist .documents .detail span.item-simple
{
   padding-right: 0.5em;
}

.doclist .documents .detail-last
{
   padding-bottom: 0.2em;
}

/* Document Info Banner */

.doclist .info-banner
{
   background-color: #ffffe0;
   background-image: url(images/warning-16.png);
   background-position: 6px 4px;
   background-repeat: no-repeat;
   clear: left;
   color: #888;
   font-weight: bold;
   margin-bottom: 4px;
   padding: 5px 0px 3px 28px;
}

/* Tags */

.doclist .documents .detail span.tag-item
{
   background-image: url(images/tag-16.png);
   background-position: 0px 0px;
   background-repeat: no-repeat;
   padding-bottom: 2px;
   padding-left: 20px;
}

/* Actions Rollover */

.doclist .documents .hidden
{
   visibility: hidden;
}

/* Actions */

.doclist .action-set div
{
   display: block;
   margin: 0;
}

.doclist a.action-link,
.doclist a.simple-link,
.doclist a.show-more
{
   background-position: 4px 1px;
   background-repeat: no-repeat;
   border: 1px solid transparent;
   display: block;
   min-height: 16px;
   padding: 2px 0 2px 24px;
}

.doclist .action-set a:active,
.doclist .action-set a:hover,
.doclist .action-set .highlighted
{
   background-color: #fff;
   border: 1px solid #2b6eb5;
   text-decoration: none;
}

.doclist div.more-actions
{
   background-color: #fff;
   border: 1px solid #2b6eb5;
   clear: left;
   margin-left: -22px;
   margin-top: 1px;
   position: absolute;
   width: 220px;
   z-index: 1;
}

.doclist .more-actions a.action-link,
.doclist .more-actions a.simple-link
{
   border: 1px solid #fff;
}

.doclist .more-actions a:active,
.doclist .more-actions a:hover
{
   background-color: #2b6eb5;
   border: 1px solid #2b6eb5;
   color: #fff;
}

/* Actions: Simple view */

.doclist div.simple div
{
   float: left;
}

.doclist div.simple div.onActionShowMore
{
   clear: both;
   float: none;
}

.doclist div.simple a.action-link span,
.doclist div.simple a.simple-link span
{
   display: none;
}

.doclist div.simple div.more-actions
{
   margin-left: -142px;
}

.doclist div.simple div.more-actions div
{
   float: none;
}

.doclist div.simple div.more-actions a.action-link span,
.doclist div.simple div.more-actions a.simple-link span
{
   display: block;
}

/* Actions: Icons */

.doclist .action-set a
{
   background-image: url(images/generic-16.png);
}

.doclist .onActionShowMore a
{
   background-image: url(images/plus-sign-16.png);
}

.doclist .onActionDetails a
{
   background-image: url(images/details-16.png);
}
.doclist .folder .onActionDetails a
{
   background-image: url(images/folder-details-16.png);
}

.doclist .onActionMetadata a
{
   background-image: url(images/metadata-16.png);
}
.doclist .folder .onActionMetadata a
{
   background-image: url(images/folder-metadata-16.png);
}

.doclist .onActionDelete a
{
   background-image: url(images/remove-16.png);
}
.doclist .folder .onActionDelete a
{
   background-image: url(images/folder-delete-16.png);
}

.doclist .onActionDownload a
{
   background-image: url(images/download-16.png);
}

.doclist .onActionView a
{
   background-image: url(images/view-in-browser-16.png);
}

.doclist .onActionEditOffline a
{
   background-image: url(images/edit-16.png);
}

.doclist .onActionEditOnline a
{
   background-image: url(images/edit-online-16.png);
}

.doclist .onActionCancelEditing a
{
   background-image: url(images/cancel-editing-16.png);
}

.doclist .onActionCopyTo a
{
   background-image: url(images/copy-to-16.png);
}
.doclist .folder .onActionCopyTo a
{
   background-image: url(images/folder-copy-to-16.png);
}

.doclist .onActionMoveTo a
{
   background-image: url(images/move-to-16.png);
}
.doclist .folder .onActionMoveTo a
{
   background-image: url(images/folder-move-to-16.png);
}

.doclist .onActionRequestUnlock a
{
   background-image: url(images/request-unlock-16.png);
}

.doclist .onActionUnlock a
{
   background-image: url(images/unlock-16.png);
}

.doclist .onActionUploadNewVersion a
{
   background-image: url(images/upload-new-version-16.png);
}

.doclist .onActionAssignWorkflow a
{
   background-image: url(../images/workflow-16.png);
}

.doclist .onActionManagePermissions a
{
   background-image: url(images/permissions-16.png);
}
.doclist .folder .onActionManagePermissions a
{
   background-image: url(images/folder-manage-permissions-16.png);
}

.doclist .onActionManageAspects a
{
   background-image: url(images/manage-aspects-16.png);
}

.doclist .onActionChangeType a
{
   background-image: url(images/change-type-16.png);
}

.doclist .onActionViewOriginal a
{
   background-image: url(images/original-doc-16.png);
}

.doclist .onActionViewWorkingCopy a
{
   background-image: url(images/working-copy-16.png);
}

.doclist .onActionLocate a
{
   background-image: url(images/locate-item-16.png);
}

.doclist .onActionInlineEdit a
{
   background-image: url(images/inline-edit-16.png);
}

.doclist .onActionExplorerView a
{
   background-image: url(images/view-alfresco-explorer-16.png);
}

.doclist .onActionRules a
{
   background-image: url(../images/rule-16.png);
}

.doclist .onActionSimpleApprove a
{
   background-image: url(images/simple-workflow-approve-16.png);
}

.doclist .onActionSimpleReject a
{
   background-image: url(images/simple-workflow-reject-16.png);
}

/* Google Docs Actions */
.doclist .onActionCheckinFromGoogleDocs a
{
   background-image: url(images/google-docs-checkin-16.png);
}
.doclist .onActionCheckoutToGoogleDocs a
{
   background-image: url(images/google-docs-checkout-16.png);
}
.doclist .onActionViewGoogleDoc a
{
   background-image: url(images/view-in-browser-16.png);
}

.doclist .onActionViewSourceRepository a
{
   background-image: url(images/view-transferred-original-16.png);
}


/* History Manager */

#yui-history-iframe
{
   position: absolute;
   top: 0;
   left: 0;
   width: 1px;
   height: 1px;
   visibility: hidden;
}

/* Preview Tooltip */

.yui-tt .bd
{
   background-color: #f4faff !important;
   border: 1px solid #333 !important;
   padding: 4px 4px 1px !important;
}

/* Show Folders inline link */

.doclist .show-folders-link
{
   cursor: pointer;
}

/* Customize Dialog */

.doclist .customize
{
   display: none;
}