
.head  { color: #369; font-size: 19px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.copy { color: gray; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.subheads { color: #369; font-weight: bold; font-size: 12px; line-height: 15px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
