.alfresco-buttons-AlfButton {
   $button;
}

.alfresco-buttons-AlfButton .dijitReset.dijitInline.dijitButtonNode {
  background: none repeat scroll 0 0;
  border: $theme-border-1;
  border-radius: 0 0 0 0;
  box-shadow: none;
  padding: 2px 10px;
}